@media screen and (min-width: 1254px) {
  .m24_banner_wrapper {
    margin-top: 15px;
    max-width: 390px;
    width: 100%;
  }
  .banner_set {
    display: inline-block;
    position: relative;
    width: 370px;
    min-height: 500px;
  }
  .banner_box {
    display: inline-block;
    width: 290px;
    background: #ffffff;
    border: 3px solid #9cc218;
    border-radius: 15px;
    position: relative;
    top: 50px;
    left: 80px;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.35);
    margin-bottom: 7px;
  }
  .banner_box .banner_set_title {
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    color: #282828;
    text-transform: uppercase;
    text-shadow: 2px 2px 6px rgba(40, 40, 40, 0.45);
    height: 82px;
    overflow: hidden;
  }
  .banner_box .set_img {
    position: absolute;
    top: -38px;
    left: -85px;
  }
  .banner_box .product_block .product_card {
    display: inline-block;
    width: 96%;
    margin-left: 2%;
  }
  .banner_box .product_block .product_card .product_img {
    display: inline-block;
    width: 52%;
    border: 1px solid #9cc218;
    border-radius: 3px;
    overflow: hidden;
  }
  .banner_box .product_block .product_card .product_img img {
    max-width: 100%;
  }
  .banner_box .product_block .product_card .product_img:hover {
    box-shadow: 4px 4px 6px rgba(156, 194, 24, 0.4);
  }
  .banner_box .product_block .product_card .product_name {
    display: inline-block;
    width: 48%;
    padding: 5px;
    color: #282828;
    text-decoration: none;
    overflow: hidden;
  }
  .banner_box .product_block .product_card .product_name:hover {
    color: #9cc218;
  }
  .banner_box .product_block .product1 .product_img {
    float: right;
  }
  .banner_box .product_block .product1 .product_name {
    padding-top: 50px;
    text-align: right;
  }
  .banner_box .product_block .product2 {
    position: relative;
    top: -10px;
  }
  .banner_box .product_block .product2 .product_img {
    float: left;
  }
  .banner_box .product_block .product2 .product_img .fa-gift {
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 3px;
    font-size: 24px;
    color: #ff6347;
  }
  .banner_box .product_block .product2 .product_name {
    padding-top: 35px;
  }
  .banner_box .product_block .product_one {
    margin-top: 25px;
  }
  .banner_box .product_block .product_one .product_img {
    margin-left: 24%;
  }
  .banner_box .product_block .product_one .product_name {
    width: 56%;
    margin-left: 22%;
  }
  .banner_box .price_block {
    text-align: center;
  }
  .banner_box .price_block .price_old {
    display: block;
    padding: 7px 10px;
    width: 33%;
    float: left;
    text-align: center;
    text-decoration: line-through;
    color: #282828;
  }
  .banner_box .price_block .price {
    display: inline-block;
    width: 33%;
    float: left;
    padding: 5px 10px;
    background: #f8d312;
    font-size: 16px;
    border-radius: 5px;
    color: #282828;
  }
  .banner_box .price_block .price_discount {
    display: block;
    width: 33%;
    float: left;
    color: #9cc218;
  }
  .banner_box .button_block {
    display: inline-block;
    width: 96%;
    margin-left: 2%;
    margin-top: 5px;
    margin-bottom: 7px;
  }
  .banner_box .button_block .banner_btn {
    position: relative;
    display: inline-block;
    width: 48%;
    cursor: pointer;
    background: #9cc218;
    color: #ffffff;
    border-radius: 10px;
    padding: 7px 24px 7px 10px;
    text-align: left;
    font-size: 18px;
    text-decoration: none;
  }
  .banner_box .button_block .banner_btn .fa {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .banner_box .button_block .banner_btn:hover {
    background: #575b71;
  }
  .banner_box .button_block .banner_btn {
    margin-left: 1%;
  }
  .banner_region {
    width: 90%;
    margin-left: 6%;
    text-align: center;
  }
  .banner_region img {
    width: 90%;
  }
  .banner_snowflake {
    display: inline-block;
    position: relative;
    width: 350px;
    margin-left: 30px;
  }
  .banner_snowflake .banner_snowflake_box {
    display: inline-block;
    width: 290px;
    background: #ffffff;
    border: 3px solid #00aff2;
    border-radius: 15px;
    position: relative;
    margin-top: 65px;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.35);
    margin-bottom: 7px;
  }
  .banner_snowflake .banner_snowflake_title {
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    color: #282828;
    text-transform: uppercase;
    text-shadow: 2px 2px 6px rgba(40, 40, 40, 0.45);
    height: 82px;
    overflow: hidden;
    word-wrap: break-word;
  }
  .banner_snowflake .snowflake_pic {
    position: absolute;
    top: -60px;
    right: -60px;
    display: inline-block;
    float: left;
    width: 90px;
  }
  .banner_snowflake .snowflake_pic img {
    width: 100%;
  }
  .banner_snowflake .banner_snowflake_description {
    display: inline-block;
    padding: 15px;
    color: #00aff2;
    text-align: justify;
  }
  .banner_snowflake .button_block {
    display: inline-block;
    width: 96%;
    margin-left: 2%;
    margin-top: 5px;
    margin-bottom: 7px;
  }
  .banner_snowflake .button_block .banner_btn {
    position: relative;
    display: inline-block;
    width: 48%;
    cursor: pointer;
    background: #00aff2;
    color: #ffffff;
    border-radius: 10px;
    padding: 7px 24px 7px 10px;
    text-align: left;
    font-size: 18px;
    text-decoration: none;
  }
  .banner_snowflake .button_block .banner_btn .fa {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .banner_snowflake .button_block .banner_btn:hover {
    background: #575b71;
  }
  .banner_snowflake .button_block .banner_btn {
    margin-left: 1%;
  }
  .spring_action_banner_box {
    display: inline-block;
    position: relative;
    width: 350px;
    height: 550px;
    margin-left: 20px;
  }
  .spring_action_banner_box .first_spring {
    position: absolute;
    display: inline-block;
    width: 50%;
    height: 100%;
    left: 0px;
    background: #ffffff;
    border: 3px solid #418fc8;
    border-right: none;
    border-radius: 25px 10px 0 25px;
    z-index: -1;
  }
  .spring_action_banner_box .second_spring {
    position: absolute;
    display: inline-block;
    width: 50%;
    height: 100%;
    right: 0;
    background: #ffffff;
    border: 3px solid #f298a6;
    border-left: none;
    border-radius: 10px 25px 25px 0;
    z-index: -1;
  }
  .spring_action_banner_box .spring_action_title {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    color: #282828;
    text-transform: uppercase;
    text-shadow: 2px 2px 6px rgba(40, 40, 40, 0.45);
    overflow: hidden;
    word-wrap: break-word;
  }
  .spring_action_banner_box .spring_action_info_top {
    display: inline-block;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 18px;
    color: #f298a6;
    overflow: hidden;
    word-wrap: break-word;
  }
  .spring_action_banner_box .product_block {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .spring_action_banner_box .product_block .product_img {
    display: inline-block;
    width: 50%;
  }
  .spring_action_banner_box .product_block .product_img img {
    width: 100%;
  }
  .spring_action_banner_box .product_block .product_title {
    display: inline-block;
    width: 100%;
    padding: 3px 15px;
    text-align: center;
    font-size: 12px;
    color: #282828;
  }
  .spring_action_banner_box .spring_action_info_middle {
    display: inline-block;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 18px;
    color: #418fc8;
    overflow: hidden;
    word-wrap: break-word;
    margin-top: 15px;
  }
  .spring_action_banner_box .gift_box {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .spring_action_banner_box .gift_box .first_gift_box {
    display: inline-block;
    width: 50%;
    float: left;
  }
  .spring_action_banner_box .gift_box .first_gift_box .first_gift_img {
    display: inline-block;
    width: 60%;
  }
  .spring_action_banner_box .gift_box .first_gift_box .first_gift_img img {
    width: 100%;
  }
  .spring_action_banner_box .gift_box .first_gift_box .first_gift_title {
    display: inline-block;
    width: 100%;
    height: 36px;
    padding: 3px 10px;
    text-align: center;
    font-size: 12px;
    color: #282828;
  }
  .spring_action_banner_box .gift_box .first_gift_box .first_gift_price {
    position: relative;
    display: inline;
    width: 100%;
    height: 36px;
    text-align: center;
    font-size: 12px;
    color: #282828;
  }
  .spring_action_banner_box .gift_box .first_gift_box .first_gift_price:before {
    border-bottom: 1px solid red;
    position: absolute;
    content: "";
    width: 100%;
    height: 9px;
    transform: rotate(-7deg);
  }
  .spring_action_banner_box .gift_box .second_gift_box {
    display: inline-block;
    width: 50%;
    float: left;
  }
  .spring_action_banner_box .gift_box .second_gift_box .second_gift_img {
    display: inline-block;
    width: 60%;
  }
  .spring_action_banner_box .gift_box .second_gift_box .second_gift_img img {
    width: 100%;
  }
  .spring_action_banner_box .gift_box .second_gift_box .second_gift_title {
    display: inline-block;
    width: 100%;
    height: 36px;
    padding: 3px 10px;
    text-align: center;
    font-size: 12px;
    color: #282828;
  }
  .spring_action_banner_box .gift_box .second_gift_box .second_gift_price {
    position: relative;
    display: inline;
    width: 100%;
    height: 36px;
    text-align: center;
    font-size: 12px;
    color: #282828;
  }
  .spring_action_banner_box .gift_box .second_gift_box .second_gift_price:before {
    border-bottom: 1px solid red;
    position: absolute;
    content: "";
    width: 100%;
    height: 9px;
    transform: rotate(-7deg);
  }
  .spring_action_banner_box a {
    text-decoration: none!important;
  }
  .spring_action_banner_box a:hover .link_title {
    color: red!important;
    text-decoration: underline!important;
  }
  .spring_action_banner_box .button_box {
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    position: relative;
    margin-top: 15px;
  }
  .spring_action_banner_box .button_box .banner_btn {
    position: relative;
    display: inline-block;
    width: 40%;
    cursor: pointer;
    color: #ffffff;
    border-radius: 10px;
    padding: 6px 24px 6px 8px;
    font-size: 17px;
    text-decoration: none;
  }
  .spring_action_banner_box .button_box .banner_btn .fa {
    display: inline-block;
    position: absolute;
    top: 9px;
    right: 9px;
  }
  .spring_action_banner_box .button_box .banner_btn:hover {
    background: #575b71;
  }
  .spring_action_banner_box .button_box .first_gift_btn {
    float: left;
    background: #418fc8;
  }
  .spring_action_banner_box .button_box .second_gift_btn {
    float: right;
    background: #f298a6;
  }
  .spring_action_banner_box .spring_action_info_bottom {
    display: inline-block;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    color: #292929;
    overflow: hidden;
    word-wrap: break-word;
    margin-top: 10px;
  }
}
@media screen and (min-width: 1014px) and (max-width: 1253px) {
  .m24_banner_wrapper {
    max-width: 340px;
    width: 100%;
  }
  .banner_set {
    display: inline-block;
    position: relative;
    width: 340px;
    min-height: 500px;
  }
  .banner_box {
    display: inline-block;
    width: 270px;
    background: #ffffff;
    border: 3px solid #9cc218;
    border-radius: 15px;
    position: relative;
    top: 50px;
    left: 65px;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.35);
  }
  .banner_box .banner_set_title {
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 22px;
    color: #282828;
    text-transform: uppercase;
    text-shadow: 2px 2px 6px rgba(40, 40, 40, 0.45);
    height: 82px;
    overflow: hidden;
  }
  .banner_box .set_img {
    width: 135px;
    position: absolute;
    top: -32px;
    left: -68px;
  }
  .banner_box .set_img img {
    width: 135px;
  }
  .banner_box .product_block .product_card {
    display: inline-block;
    width: 96%;
    margin-left: 2%;
  }
  .banner_box .product_block .product_card .product_img {
    display: inline-block;
    width: 52%;
    border: 1px solid #9cc218;
    border-radius: 3px;
    overflow: hidden;
  }
  .banner_box .product_block .product_card .product_img img {
    max-width: 100%;
  }
  .banner_box .product_block .product_card .product_img:hover {
    box-shadow: 4px 4px 6px rgba(156, 194, 24, 0.4);
  }
  .banner_box .product_block .product_card .product_name {
    display: inline-block;
    width: 48%;
    padding: 5px;
    color: #282828;
    text-decoration: none;
    overflow: hidden;
  }
  .banner_box .product_block .product_card .product_name:hover {
    color: #9cc218;
  }
  .banner_box .product_block .product1 .product_img {
    float: right;
  }
  .banner_box .product_block .product1 .product_name {
    padding-top: 50px;
    text-align: right;
  }
  .banner_box .product_block .product2 {
    position: relative;
    top: -10px;
  }
  .banner_box .product_block .product2 .product_img {
    float: left;
  }
  .banner_box .product_block .product2 .product_img .fa-gift {
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 3px;
    font-size: 24px;
    color: #ff6347;
  }
  .banner_box .product_block .product2 .product_name {
    padding-top: 35px;
  }
  .banner_box .product_block .product_one {
    margin-top: 15px;
  }
  .banner_box .product_block .product_one .product_img {
    width: 66%;
    margin-left: 17%;
  }
  .banner_box .product_block .product_one .product_name {
    width: 66%;
    margin-left: 17%;
  }
  .banner_box .price_block {
    text-align: center;
  }
  .banner_box .price_block .price_old {
    display: block;
    padding: 7px 10px;
    width: 33%;
    float: left;
    text-align: center;
    text-decoration: line-through;
    color: #282828;
  }
  .banner_box .price_block .price {
    display: inline-block;
    width: 33%;
    float: left;
    padding: 5px 10px;
    background: #f8d312;
    font-size: 16px;
    border-radius: 5px;
    color: #282828;
  }
  .banner_box .price_block .price_discount {
    display: block;
    width: 33%;
    float: left;
    color: #9cc218;
  }
  .banner_box .button_block {
    display: inline-block;
    width: 96%;
    margin-left: 2%;
    margin-top: 5px;
    margin-bottom: 7px;
  }
  .banner_box .button_block .banner_btn {
    position: relative;
    display: inline-block;
    width: 48%;
    cursor: pointer;
    background: #9cc218;
    color: #ffffff;
    border-radius: 10px;
    padding: 6px 24px 6px 8px;
    text-align: left;
    font-size: 17px;
    text-decoration: none;
  }
  .banner_box .button_block .banner_btn .fa {
    display: inline-block;
    position: absolute;
    top: 9px;
    right: 9px;
  }
  .banner_box .button_block .banner_btn:hover {
    background: #575b71;
  }
  .banner_box .button_block .banner_btn {
    margin-left: 1%;
  }
  .banner_region {
    width: 90%;
    margin-left: 6%;
    text-align: center;
  }
  .banner_region img {
    width: 90%;
  }
  .banner_snowflake {
    display: inline-block;
    position: relative;
    width: 270px;
    margin-left: 25px;
  }
  .banner_snowflake .banner_snowflake_box {
    display: inline-block;
    width: 270px;
    background: #ffffff;
    border: 3px solid #00aff2;
    border-radius: 15px;
    position: relative;
    margin-top: 65px;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.35);
    margin-bottom: 7px;
  }
  .banner_snowflake .banner_snowflake_title {
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    color: #282828;
    text-transform: uppercase;
    text-shadow: 2px 2px 6px rgba(40, 40, 40, 0.45);
    height: 82px;
    overflow: hidden;
    word-wrap: break-word;
  }
  .banner_snowflake .snowflake_pic {
    position: absolute;
    top: -40px;
    right: -40px;
    display: inline-block;
    float: left;
    width: 60px;
  }
  .banner_snowflake .snowflake_pic img {
    width: 100%;
  }
  .banner_snowflake .banner_snowflake_description {
    display: inline-block;
    padding: 15px;
    color: #00aff2;
    text-align: justify;
  }
  .banner_snowflake .button_block {
    display: inline-block;
    width: 96%;
    margin-left: 2%;
    margin-top: 5px;
    margin-bottom: 7px;
  }
  .banner_snowflake .button_block .banner_btn {
    position: relative;
    display: inline-block;
    width: 48%;
    cursor: pointer;
    background: #00aff2;
    color: #ffffff;
    border-radius: 10px;
    padding: 7px 24px 7px 10px;
    text-align: left;
    font-size: 16px;
    text-decoration: none;
  }
  .banner_snowflake .button_block .banner_btn .fa {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .banner_snowflake .button_block .banner_btn:hover {
    background: #575b71;
  }
  .banner_snowflake .button_block .banner_btn {
    margin-left: 1%;
  }
  .spring_action_banner_box {
    display: inline-block;
    position: relative;
    width: 290px;
    height: 515px;
    margin-left: 30px;
  }
  .spring_action_banner_box .first_spring {
    position: absolute;
    display: inline-block;
    width: 50%;
    height: 100%;
    left: 0px;
    background: #ffffff;
    border: 3px solid #418fc8;
    border-right: none;
    border-radius: 25px 10px 0 25px;
    z-index: -1;
  }
  .spring_action_banner_box .second_spring {
    position: absolute;
    display: inline-block;
    width: 50%;
    height: 100%;
    right: 0;
    background: #ffffff;
    border: 3px solid #f298a6;
    border-left: none;
    border-radius: 10px 25px 25px 0;
    z-index: -1;
  }
  .spring_action_banner_box .spring_action_title {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    color: #282828;
    text-transform: uppercase;
    text-shadow: 2px 2px 6px rgba(40, 40, 40, 0.45);
    overflow: hidden;
    word-wrap: break-word;
  }
  .spring_action_banner_box .spring_action_info_top {
    display: inline-block;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 18px;
    color: #f298a6;
    overflow: hidden;
    word-wrap: break-word;
  }
  .spring_action_banner_box .product_block {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .spring_action_banner_box .product_block .product_img {
    display: inline-block;
    width: 50%;
  }
  .spring_action_banner_box .product_block .product_img img {
    width: 100%;
  }
  .spring_action_banner_box .product_block .product_title {
    display: inline-block;
    width: 100%;
    padding: 3px 15px;
    text-align: center;
    font-size: 12px;
    color: #282828;
  }
  .spring_action_banner_box .spring_action_info_middle {
    display: inline-block;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 18px;
    color: #418fc8;
    overflow: hidden;
    word-wrap: break-word;
    margin-top: 15px;
  }
  .spring_action_banner_box .gift_box {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .spring_action_banner_box .gift_box .first_gift_box {
    display: inline-block;
    width: 50%;
    float: left;
  }
  .spring_action_banner_box .gift_box .first_gift_box .first_gift_img {
    display: inline-block;
    width: 60%;
  }
  .spring_action_banner_box .gift_box .first_gift_box .first_gift_img img {
    width: 100%;
  }
  .spring_action_banner_box .gift_box .first_gift_box .first_gift_title {
    display: inline-block;
    width: 100%;
    height: 36px;
    padding: 3px 10px;
    text-align: center;
    font-size: 12px;
    color: #282828;
  }
  .spring_action_banner_box .gift_box .first_gift_box .first_gift_price {
    position: relative;
    display: inline;
    width: 100%;
    height: 36px;
    text-align: center;
    font-size: 12px;
    color: #282828;
  }
  .spring_action_banner_box .gift_box .first_gift_box .first_gift_price:before {
    border-bottom: 1px solid red;
    position: absolute;
    content: "";
    width: 100%;
    height: 9px;
    transform: rotate(-7deg);
  }
  .spring_action_banner_box .gift_box .second_gift_box {
    display: inline-block;
    width: 50%;
    float: left;
  }
  .spring_action_banner_box .gift_box .second_gift_box .second_gift_img {
    display: inline-block;
    width: 60%;
  }
  .spring_action_banner_box .gift_box .second_gift_box .second_gift_img img {
    width: 100%;
  }
  .spring_action_banner_box .gift_box .second_gift_box .second_gift_title {
    display: inline-block;
    width: 100%;
    height: 36px;
    padding: 3px 10px;
    text-align: center;
    font-size: 12px;
    color: #282828;
  }
  .spring_action_banner_box .gift_box .second_gift_box .second_gift_price {
    position: relative;
    display: inline;
    width: 100%;
    height: 36px;
    text-align: center;
    font-size: 12px;
    color: #282828;
  }
  .spring_action_banner_box .gift_box .second_gift_box .second_gift_price:before {
    border-bottom: 1px solid red;
    position: absolute;
    content: "";
    width: 100%;
    height: 9px;
    transform: rotate(-7deg);
  }
  .spring_action_banner_box a {
    text-decoration: none!important;
  }
  .spring_action_banner_box a:hover .link_title {
    color: red!important;
    text-decoration: underline!important;
  }
  .spring_action_banner_box .button_box {
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    position: relative;
    margin-top: 15px;
  }
  .spring_action_banner_box .button_box .banner_btn {
    position: relative;
    display: inline-block;
    width: 40%;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    padding: 6px 8px 6px 8px;
    font-size: 16px;
    text-decoration: none;
  }
  .spring_action_banner_box .button_box .banner_btn .fa {
    display: none;
  }
  .spring_action_banner_box .button_box .banner_btn:hover {
    background: #575b71;
  }
  .spring_action_banner_box .button_box .first_gift_btn {
    float: left;
    background: #418fc8;
  }
  .spring_action_banner_box .button_box .second_gift_btn {
    float: right;
    background: #f298a6;
  }
  .spring_action_banner_box .spring_action_info_bottom {
    display: inline-block;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    color: #292929;
    overflow: hidden;
    word-wrap: break-word;
    margin-top: 10px;
  }
}
/*экран 768-1013*/
@media screen and (min-width: 768px) and (max-width: 1013px) {
  .m24_banner_wrapper {
    position: relative;
    max-width: 245px;
    width: 100%;
  }
  .banner_set {
    position: relative;
    display: inline-block;
    width: 210px;
    min-height: 400px;
  }
  .banner_box {
    display: inline-block;
    width: 200px;
    background: #ffffff;
    border: 2px solid #9cc218;
    border-radius: 15px;
    position: relative;
    top: 30px;
    left: 40px;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.35);
  }
  .banner_box .banner_set_title {
    display: inline-block;
    width: 100%;
    padding: 6px;
    text-align: center;
    font-size: 18px;
    color: #282828;
    text-transform: uppercase;
    text-shadow: 2px 2px 6px rgba(40, 40, 40, 0.45);
    height: 64px;
    overflow: hidden;
  }
  .banner_box .set_img {
    width: 85px;
    position: absolute;
    top: -20px;
    left: -43px;
  }
  .banner_box .set_img img {
    width: 100%;
  }
  .banner_box .product_block .product_card {
    display: inline-block;
    width: 96%;
    margin-left: 2%;
  }
  .banner_box .product_block .product_card .product_img {
    display: inline-block;
    width: 52%;
    border: 1px solid #9cc218;
    border-radius: 3px;
    overflow: hidden;
  }
  .banner_box .product_block .product_card .product_img img {
    max-width: 100%;
  }
  .banner_box .product_block .product_card .product_img:hover {
    box-shadow: 4px 4px 6px rgba(156, 194, 24, 0.4);
  }
  .banner_box .product_block .product_card .product_name {
    display: inline-block;
    width: 48%;
    padding: 3px;
    font-size: 11px;
    color: #282828;
    text-decoration: none;
    overflow: hidden;
  }
  .banner_box .product_block .product_card .product_name:hover {
    color: #9cc218;
  }
  .banner_box .product_block .product1 .product_img {
    float: right;
  }
  .banner_box .product_block .product1 .product_name {
    padding-top: 15px;
    text-align: right;
  }
  .banner_box .product_block .product2 {
    position: relative;
    top: -10px;
  }
  .banner_box .product_block .product2 .product_img {
    float: left;
  }
  .banner_box .product_block .product2 .product_img .fa-gift {
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 3px;
    font-size: 24px;
    color: #ff6347;
  }
  .banner_box .product_block .product2 .product_name {
    padding-top: 25px;
  }
  .banner_box .product_block .product_one {
    margin-top: 15px;
  }
  .banner_box .product_block .product_one .product_img {
    width: 66%;
    margin-left: 17%;
  }
  .banner_box .product_block .product_one .product_name {
    width: 66%;
    margin-left: 17%;
  }
  .banner_box .price_block {
    text-align: center;
  }
  .banner_box .price_block .price_old {
    display: block;
    padding: 5px;
    width: 30%;
    float: left;
    font-size: 11px;
    text-align: center;
    text-decoration: line-through;
    color: #282828;
  }
  .banner_box .price_block .price {
    display: inline-block;
    width: 40%;
    float: left;
    padding: 3px 7px;
    background: #f8d312;
    font-size: 14px;
    border-radius: 5px;
    color: #282828;
  }
  .banner_box .price_block .price_discount {
    display: inline-block;
    width: 30%;
    font-size: 11px;
    line-height: 11px;
    float: left;
    color: #9cc218;
  }
  .banner_box .button_block {
    display: inline-block;
    width: 96%;
    margin-left: 2%;
    margin-top: 5px;
    margin-bottom: 7px;
  }
  .banner_box .button_block .banner_btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: #9cc218;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 18px 5px 5px;
    text-align: left;
    font-size: 14px;
    text-decoration: none;
  }
  .banner_box .button_block .banner_btn .fa {
    display: inline-block;
    position: absolute;
    top: 6px;
    right: 5px;
  }
  .banner_box .button_block .banner_btn:hover {
    background: #575b71;
  }
  .banner_box .button_block .set_buy {
    width: 42%;
  }
  .banner_box .button_block .all_set {
    width: 54%;
  }
  .banner_box .button_block .banner_btn {
    margin-left: 1%;
  }
  .banner_region {
    width: 90%;
    margin-left: 4%;
    text-align: center;
  }
  .banner_region img {
    width: 96%;
  }
  .banner_snowflake {
    display: inline-block;
    position: relative;
    width: 200px;
    margin-left: 10px;
  }
  .banner_snowflake .banner_snowflake_box {
    display: inline-block;
    width: 200px;
    background: #ffffff;
    border: 3px solid #00aff2;
    border-radius: 15px;
    position: relative;
    margin-top: 65px;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.35);
    margin-bottom: 7px;
  }
  .banner_snowflake .banner_snowflake_title {
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    color: #282828;
    text-transform: uppercase;
    text-shadow: 2px 2px 6px rgba(40, 40, 40, 0.45);
    height: 60px;
    overflow: hidden;
    word-wrap: break-word;
  }
  .banner_snowflake .snowflake_pic {
    position: absolute;
    top: -35px;
    right: -35px;
    display: inline-block;
    float: left;
    width: 50px;
  }
  .banner_snowflake .snowflake_pic img {
    width: 100%;
  }
  .banner_snowflake .banner_snowflake_description {
    display: inline-block;
    padding: 5px;
    font-size: 12px;
    color: #00aff2;
    text-align: justify;
  }
  .banner_snowflake .button_block {
    display: inline-block;
    width: 96%;
    margin-left: 2%;
    margin-top: 5px;
    margin-bottom: 7px;
  }
  .banner_snowflake .button_block .banner_btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 48%;
    background: #00aff2;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 18px 5px 5px;
    text-align: left;
    font-size: 13px;
    text-decoration: none;
  }
  .banner_snowflake .button_block .banner_btn .fa {
    display: inline-block;
    position: absolute;
    top: 7px;
    right: 5px;
  }
  .banner_snowflake .button_block .banner_btn:hover {
    background: #575b71;
  }
  .banner_snowflake .button_block .banner_btn {
    margin-left: 1%;
  }
  .spring_action_banner_box {
    display: inline-block;
    position: relative;
    width: 228px;
    height: 530px;
    margin-left: 12px;
  }
  .spring_action_banner_box .first_spring {
    position: absolute;
    display: inline-block;
    width: 50%;
    height: 100%;
    left: 0px;
    background: #ffffff;
    border: 3px solid #418fc8;
    border-right: none;
    border-radius: 25px 10px 0 25px;
    z-index: -1;
  }
  .spring_action_banner_box .second_spring {
    position: absolute;
    display: inline-block;
    width: 50%;
    height: 100%;
    right: 0;
    background: #ffffff;
    border: 3px solid #f298a6;
    border-left: none;
    border-radius: 10px 25px 25px 0;
    z-index: -1;
  }
  .spring_action_banner_box .spring_action_title {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    color: #282828;
    text-transform: uppercase;
    text-shadow: 2px 2px 6px rgba(40, 40, 40, 0.45);
    overflow: hidden;
    word-wrap: break-word;
  }
  .spring_action_banner_box .spring_action_info_top {
    display: inline-block;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    color: #f298a6;
    overflow: hidden;
    word-wrap: break-word;
  }
  .spring_action_banner_box .product_block {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .spring_action_banner_box .product_block .product_img {
    display: inline-block;
    width: 70%;
  }
  .spring_action_banner_box .product_block .product_img img {
    width: 100%;
  }
  .spring_action_banner_box .product_block .product_title {
    display: inline-block;
    width: 100%;
    padding: 3px 15px;
    text-align: center;
    font-size: 12px;
    color: #282828;
  }
  .spring_action_banner_box .spring_action_info_middle {
    display: inline-block;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    color: #418fc8;
    overflow: hidden;
    word-wrap: break-word;
    margin-top: 15px;
  }
  .spring_action_banner_box .gift_box {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .spring_action_banner_box .gift_box .first_gift_box {
    display: inline-block;
    width: 50%;
    float: left;
  }
  .spring_action_banner_box .gift_box .first_gift_box .first_gift_img {
    display: inline-block;
    width: 80%;
  }
  .spring_action_banner_box .gift_box .first_gift_box .first_gift_img img {
    width: 100%;
  }
  .spring_action_banner_box .gift_box .first_gift_box .first_gift_title {
    display: inline-block;
    width: 100%;
    height: 46px;
    padding: 3px 6px;
    text-align: center;
    font-size: 11px;
    color: #282828;
  }
  .spring_action_banner_box .gift_box .first_gift_box .first_gift_price {
    position: relative;
    display: inline;
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 12px;
    color: #282828;
  }
  .spring_action_banner_box .gift_box .first_gift_box .first_gift_price:before {
    border-bottom: 1px solid red;
    position: absolute;
    content: "";
    width: 100%;
    height: 9px;
    transform: rotate(-7deg);
  }
  .spring_action_banner_box .gift_box .second_gift_box {
    display: inline-block;
    width: 50%;
    float: left;
  }
  .spring_action_banner_box .gift_box .second_gift_box .second_gift_img {
    display: inline-block;
    width: 80%;
  }
  .spring_action_banner_box .gift_box .second_gift_box .second_gift_img img {
    width: 100%;
  }
  .spring_action_banner_box .gift_box .second_gift_box .second_gift_title {
    display: inline-block;
    width: 100%;
    height: 46px;
    padding: 3px 6px;
    text-align: center;
    font-size: 11px;
    color: #282828;
  }
  .spring_action_banner_box .gift_box .second_gift_box .second_gift_price {
    position: relative;
    display: inline;
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 12px;
    color: #282828;
  }
  .spring_action_banner_box .gift_box .second_gift_box .second_gift_price:before {
    border-bottom: 1px solid red;
    position: absolute;
    content: "";
    width: 100%;
    height: 9px;
    transform: rotate(-7deg);
  }
  .spring_action_banner_box a {
    text-decoration: none!important;
  }
  .spring_action_banner_box a:hover .link_title {
    color: red!important;
    text-decoration: underline!important;
  }
  .spring_action_banner_box .button_box {
    display: inline-block;
    width: 86%;
    margin-left: 7%;
    position: relative;
    margin-top: 15px;
  }
  .spring_action_banner_box .button_box .banner_btn {
    position: relative;
    display: inline-block;
    width: 47%;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    padding: 6px 8px 6px 8px;
    font-size: 14px;
    text-decoration: none;
  }
  .spring_action_banner_box .button_box .banner_btn .fa {
    display: none;
  }
  .spring_action_banner_box .button_box .banner_btn:hover {
    background: #575b71;
  }
  .spring_action_banner_box .button_box .first_gift_btn {
    float: left;
    background: #418fc8;
  }
  .spring_action_banner_box .button_box .second_gift_btn {
    float: right;
    background: #f298a6;
  }
  .spring_action_banner_box .spring_action_info_bottom {
    display: inline-block;
    width: 100%;
    padding: 3px;
    text-align: center;
    font-size: 11px;
    color: #292929;
    overflow: hidden;
    word-wrap: break-word;
    margin-top: 10px;
  }
}
@media screen and (max-width: 767px) {
  .m24_banner_wrapper {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */