.modal-video {
  width: 900px;
  max-width: 100%;
  height: 510px;
  margin: auto;
}
.video_review_box {
  position: relative;
  display: block;
  width: 100%;
}
.video_items_box {
  display: inline-block;
  width: 100%;
}
.video_items_box .video_all_box {
  min-height: 100px;
}
.video_tag:hover {
  text-decoration: underline !important;
}
.get_vids_button {
  display: inline-block;
  width: 100%;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 15px;
  background: rgba(156, 194, 24, 0.75);
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 15px;
}
.get_vids_button .fa-spinner {
  font-size: 23px;
}
.search_link_all {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-top: 2px solid #9cc218;
}
.search_link_all a {
  font-weight: bold;
  color: #9cc218 !important;
  text-decoration: none;
}
.search_link_all a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 1235px) {
  .all_tags {
    text-decoration: none !important;
    font-weight: bold;
    color: #9cc218 !important;
  }
  .all_tags:hover {
    text-decoration: underline;
  }
  .video_review_box {
    margin-top: 18px;
  }
  .video_popular_box,
  .video_new_box {
    display: inline-block;
    margin-bottom: 25px;
    padding: 5px;
  }
  .video_popular_box {
    box-shadow: 0 2px 4px #eab629;
  }
  .video_new_box {
    box-shadow: 0 2px 4px #22a4f5;
  }
  .video_popular_title,
  .video_new_title,
  .video_all_title {
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    color: #eab629;
    font-size: 28px;
    font-weight: bold;
  }
  .video_new_title {
    color: #22a4f5;
  }
  .video_all_title {
    color: #9cc218;
  }
  .video_item_promo {
    position: relative;
    display: inline-block;
    width: 42%;
    min-height: 470px;
    float: left;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
    margin: 5px 4%;
  }
  .video_item_promo .video_title {
    margin: 5px;
    display: inline-block;
    width: 100%;
    font-size: 18px;
    color: #505050;
    font-weight: bold;
    height: 46px;
  }
  .video_item_promo .panel_video {
    position: relative;
    display: inline-block;
    max-width: 100%;
    border: 3px solid #9cc218;
    border-radius: 15px;
    overflow: hidden;
  }
  .video_item_promo .panel_video img {
    max-width: 100%;
  }
  .video_item_promo .panel_video .video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 78px;
    color: #9cc218;
    z-index: 2;
  }
  .video_item_promo .video_tags {
    min-height: 50px;
    margin: 5px;
  }
  .video_item_promo .video_tags span {
    display: inline-block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    color: #2d2d2d;
  }
  .video_item_promo .video_tags .tags_item {
    display: inline-block;
    float: left;
    text-decoration: none;
    font-weight: bold;
    color: #9cc218;
    margin-left: 5px;
  }
  .video_item_promo .video_tags .tags_item:hover {
    text-decoration: underline;
  }
  .video_item_promo .video_tags .video_tags_unvis {
    display: none;
  }
  .video_item_promo .video_tags .video_tags_btn {
    float: left;
    margin-left: 5px;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #eab629;
    cursor: pointer;
  }
  .video_item_promo .video_tags .video_tags_btn:hover {
    text-decoration: underline;
  }
  .video_item_promo .video_tags_hidden {
    display: inline-block;
    width: calc(96%);
    position: absolute;
    padding: 5px ;
    min-height: 115px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
  }
  .video_item_promo .video_products {
    margin: 5px;
  }
  .video_item_promo .video_products span {
    display: inline-block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    color: #2d2d2d;
  }
  .video_item_promo .video_products a {
    display: inline-block;
    float: left;
    border-radius: 10px;
    overflow: hidden;
  }
  .video_item_promo .video_products a img {
    width: 80px;
    height: 66px;
  }
  .video_item_promo .video_products .video_products_unvis {
    display: none;
  }
  .video_item_promo .video_products a:hover {
    box-shadow: 0px 2px 8px 0px #9cc218;
  }
  .video_item_promo .video_products .video_products_btn {
    float: left;
    display: inline-block;
    border-radius: 10px;
    width: 80px;
    height: 66px;
    line-height: 66px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #9cc218;
    cursor: pointer;
  }
  .video_item_promo .video_products .all_video_products:hover {
    box-shadow: 0px 2px 8px 0px #9cc218;
  }
  .video_item_promo .video_products_hidden {
    display: inline-block;
    width: calc(96%);
    position: absolute;
    padding: 5px ;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
  }
  .video_all_box {
    position: relative;
    display: inline-block;
    width: 27%;
    min-height: 384px;
    float: left;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
    margin: 5px 3%;
  }
  .video_all_box .video_title {
    margin: 5px;
    display: inline-block;
    width: 100%;
    font-size: 14px;
    color: #505050;
    font-weight: bold;
    height: 46px;
  }
  .video_all_box .panel_video {
    position: relative;
    display: inline-block;
    max-width: 100%;
    border: 2px solid #9cc218;
    border-radius: 15px;
    overflow: hidden;
  }
  .video_all_box .panel_video img {
    max-width: 100%;
  }
  .video_all_box .panel_video .video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 50px;
    color: #9cc218;
    z-index: 2;
  }
  .video_all_box .video_tags {
    height: 50px;
    margin: 5px;
  }
  .video_all_box .video_tags span {
    display: inline-block;
    float: left;
    font-size: 11px;
    font-weight: bold;
    color: #2d2d2d;
  }
  .video_all_box .video_tags .tags_item {
    display: inline-block;
    float: left;
    font-size: 11px;
    margin-left: 5px;
    text-decoration: none;
    font-weight: bold;
    color: #9cc218;
  }
  .video_all_box .video_tags .tags_item:hover {
    text-decoration: underline;
  }
  .video_all_box .video_tags .video_tags_unvis {
    display: none;
  }
  .video_all_box .video_tags .video_tags_btn {
    float: left;
    margin-left: 5px;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    color: #eab629;
    cursor: pointer;
  }
  .video_all_box .video_tags .video_tags_btn:hover {
    text-decoration: underline;
  }
  .video_all_box .video_tags_hidden {
    display: inline-block;
    width: calc(94%);
    position: absolute;
    padding: 5px ;
    min-height: 130px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
  }
  .video_all_box .video_products {
    margin: 5px;
  }
  .video_all_box .video_products span {
    display: inline-block;
    float: left;
    width: 100%;
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: bold;
    color: #2d2d2d;
  }
  .video_all_box .video_products a {
    float: left;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
  }
  .video_all_box .video_products a img {
    width: 60px;
    height: 50px;
  }
  .video_all_box .video_products a:hover {
    box-shadow: 0px 2px 8px 0px #9cc218;
  }
  .video_all_box .video_products .video_products_unvis {
    display: none;
  }
  .video_all_box .video_products .video_products_btn {
    float: left;
    display: inline-block;
    border-radius: 10px;
    width: 60px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #9cc218;
    cursor: pointer;
  }
  .video_all_box .video_products .all_video_products:hover {
    box-shadow: 0px 2px 8px 0px #9cc218;
  }
  .video_all_box .video_products_hidden {
    display: inline-block;
    width: 94%;
    left: 2%;
    position: absolute;
    padding: 5px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
    z-index: 5;
  }
  .tag_cloud {
    display: block;
    float: right;
    width: 50%;
    text-align: center;
    margin-bottom: 15px;
  }
  .tag_cloud .tag_title {
    font-size: 24px;
    color: #9cc218 !important;
    text-decoration: underline;
    font-weight: bold;
  }
  .video_tag {
    display: inline-block;
    text-decoration: none !important;
    color: #9cc218 !important;
    font-weight: bold;
    padding: 1px 2px;
    margin: 1px;
  }
  .video_search_block {
    display: inline-block;
    width: 50%;
    position: relative;
    float: left;
    z-index: 3;
  }
  .video_search_block .search_vids_input {
    font-size: 18px;
    display: inline-block;
    border-radius: 3px;
    border: 2px solid #9cc218;
    padding: 5px 25px 5px 5px;
    width: 80%;
    margin-left: 10%;
    color: #282828;
  }
  .video_search_block .video_search_button {
    display: inline-block;
    position: absolute;
    left: 83%;
    top: 2px;
    width: 7%;
    height: 33px;
    background: #faf0e6;
    border-left: 2px solid #9cc218;
    transform: translateX(-1px);
    border-radius: 0 3px 3px 0;
    color: #9cc218;
    text-align: center;
    cursor: pointer;
  }
  .video_search_block .video_search_button .fa-search {
    padding-top: 4.5px;
    font-size: 24px;
  }
  .video_search_block .vids_search_result {
    display: none;
    position: absolute;
    width: 100%;
    min-height: 35px;
    border: 2px solid #9cc218;
    background: #ffffff;
  }
  .video_search_block .vids_search_result .vids_search_result_close {
    display: inline-block;
    position: absolute;
    font-size: 36px;
    font-weight: bold;
    right: -13px;
    top: -24px;
    cursor: pointer;
    transform: rotate(45deg);
    color: #eab629;
  }
  .video_search_block .vids_search_result .vids_search_result_box {
    display: inline-block;
    padding: 7px;
  }
  .video_search_block .vids_search_result .vids_search_result_box .search_item {
    padding: 5px;
    color: #282828;
  }
  .video_search_block .vids_search_result .vids_search_result_box .search_item a {
    color: #282828;
    text-decoration: none;
  }
  .video_search_block .vids_search_result .vids_search_result_box .search_item a:hover {
    text-decoration: underline;
  }
}
@media screen and (max-width: 1234px) and (min-width: 1014px) {
  .all_tags {
    text-decoration: none !important;
    font-weight: bold;
    color: #9cc218 !important;
  }
  .all_tags:hover {
    text-decoration: underline;
  }
  .video_review_box {
    margin-top: 18px;
  }
  .video_popular_box,
  .video_new_box {
    display: inline-block;
    margin-bottom: 25px;
    padding: 5px;
  }
  .video_popular_box {
    box-shadow: 0 2px 4px #eab629;
  }
  .video_new_box {
    box-shadow: 0 2px 4px #22a4f5;
  }
  .video_popular_title,
  .video_new_title,
  .video_all_title {
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    color: #eab629;
    font-size: 28px;
    font-weight: bold;
  }
  .video_new_title {
    color: #22a4f5;
  }
  .video_all_title {
    color: #9cc218;
  }
  .video_item_promo {
    display: inline-block;
    position: relative;
    width: 42%;
    min-height: 413px;
    float: left;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
    margin: 5px 4%;
  }
  .video_item_promo .video_title {
    margin: 5px;
    display: inline-block;
    width: 100%;
    font-size: 18px;
    color: #505050;
    font-weight: bold;
    height: 46px;
  }
  .video_item_promo .panel_video {
    position: relative;
    display: inline-block;
    max-width: 100%;
    border: 3px solid #9cc218;
    border-radius: 15px;
    overflow: hidden;
  }
  .video_item_promo .panel_video img {
    max-width: 100%;
  }
  .video_item_promo .panel_video .video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 78px;
    color: #9cc218;
    z-index: 2;
  }
  .video_item_promo .video_tags {
    height: 50px;
    margin: 5px;
  }
  .video_item_promo .video_tags span {
    display: inline-block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    color: #2d2d2d;
  }
  .video_item_promo .video_tags .tags_item {
    display: inline-block;
    float: left;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
    color: #9cc218;
    line-height: 18px;
  }
  .video_item_promo .video_tags .tags_item:hover {
    text-decoration: underline;
  }
  .video_item_promo .video_tags .video_tags_unvis {
    display: none;
  }
  .video_item_promo .video_tags .video_tags_btn {
    float: left;
    margin-left: 5px;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #eab629;
    cursor: pointer;
  }
  .video_item_promo .video_tags .video_tags_btn:hover {
    text-decoration: underline;
  }
  .video_item_promo .video_tags_hidden {
    display: inline-block;
    width: calc(94%);
    position: absolute;
    padding: 5px ;
    min-height: 130px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
  }
  .video_item_promo .video_products {
    margin: 5px;
  }
  .video_item_promo .video_products span {
    display: inline-block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    color: #2d2d2d;
  }
  .video_item_promo .video_products a {
    display: inline-block;
    float: left;
    border-radius: 10px;
    overflow: hidden;
  }
  .video_item_promo .video_products a img {
    width: 80px;
    height: 66px;
  }
  .video_item_promo .video_products a:hover {
    box-shadow: 0px 2px 8px 0px #9cc218;
  }
  .video_item_promo .video_products .video_products_unvis {
    display: none;
  }
  .video_item_promo .video_products .video_products_btn {
    float: left;
    display: inline-block;
    border-radius: 10px;
    width: 80px;
    height: 66px;
    line-height: 66px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #9cc218;
    cursor: pointer;
  }
  .video_item_promo .video_products .all_video_products:hover {
    box-shadow: 0px 2px 8px 0px #9cc218;
  }
  .video_item_promo .video_products_hidden {
    display: inline-block;
    width: 94%;
    position: absolute;
    padding: 5px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
    z-index: 5;
  }
  .video_all_box {
    position: relative;
    display: inline-block;
    width: 27%;
    min-height: 363px;
    float: left;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
    margin: 5px 3%;
  }
  .video_all_box .video_title {
    margin: 5px;
    display: inline-block;
    width: 100%;
    font-size: 14px;
    color: #505050;
    font-weight: bold;
    height: 46px;
  }
  .video_all_box .panel_video {
    position: relative;
    display: inline-block;
    max-width: 100%;
    border: 2px solid #9cc218;
    border-radius: 15px;
    overflow: hidden;
  }
  .video_all_box .panel_video img {
    max-width: 100%;
  }
  .video_all_box .panel_video .video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 50px;
    color: #9cc218;
    z-index: 2;
  }
  .video_all_box .video_tags {
    display: inline-block;
    height: 60px;
    margin: 5px;
  }
  .video_all_box .video_tags span {
    display: inline-block;
    float: left;
    font-size: 11px;
    font-weight: bold;
    color: #2d2d2d;
  }
  .video_all_box .video_tags .tags_item {
    margin-left: 5px;
    display: inline-block;
    float: left;
    font-size: 11px;
    text-decoration: none;
    font-weight: bold;
    color: #9cc218;
  }
  .video_all_box .video_tags .tags_item:hover {
    text-decoration: underline;
  }
  .video_all_box .video_tags .video_tags_unvis {
    display: none;
  }
  .video_all_box .video_tags .video_tags_btn {
    float: left;
    margin-left: 5px;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    color: #eab629;
    cursor: pointer;
  }
  .video_all_box .video_tags .video_tags_btn:hover {
    text-decoration: underline;
  }
  .video_all_box .video_tags_hidden {
    display: inline-block;
    width: calc(92%);
    position: absolute;
    padding: 5px ;
    min-height: 140px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
  }
  .video_all_box .video_products {
    margin: 5px;
  }
  .video_all_box .video_products span {
    display: inline-block;
    float: left;
    width: 100%;
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: bold;
    color: #2d2d2d;
  }
  .video_all_box .video_products a {
    display: inline-block;
    float: left;
    border-radius: 10px;
    overflow: hidden;
  }
  .video_all_box .video_products a img {
    width: 60px;
    height: 50px;
  }
  .video_all_box .video_products a:hover {
    box-shadow: 0px 2px 8px 0px #9cc218;
  }
  .video_all_box .video_products .video_products_unvis {
    display: none;
  }
  .video_all_box .video_products .video_products_btn {
    float: left;
    display: inline-block;
    border-radius: 10px;
    width: 60px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #9cc218;
    cursor: pointer;
  }
  .video_all_box .video_products .all_video_products:hover {
    box-shadow: 0px 2px 8px 0px #9cc218;
  }
  .video_all_box .video_products_hidden {
    display: inline-block;
    width: 94%;
    position: absolute;
    padding: 5px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
    z-index: 5;
  }
  .tag_cloud {
    display: block;
    width: 50%;
    float: right;
    text-align: center;
    margin-bottom: 15px;
  }
  .tag_cloud .tag_title {
    font-size: 24px;
    color: #9cc218 !important;
    text-decoration: underline;
    font-weight: bold;
  }
  .video_tag {
    display: inline-block;
    text-decoration: none !important;
    color: #9cc218 !important;
    font-weight: bold;
    padding: 1px 2px;
    margin: 1px;
  }
  .video_search_block {
    display: inline-block;
    width: 50%;
    position: relative;
    float: left;
    z-index: 3;
  }
  .video_search_block .search_vids_input {
    font-size: 18px;
    display: inline-block;
    border-radius: 3px;
    border: 2px solid #9cc218;
    padding: 5px 25px 5px 5px;
    width: 80%;
    margin-left: 10%;
    color: #282828;
  }
  .video_search_block .video_search_button {
    display: inline-block;
    position: absolute;
    left: 83%;
    top: 2px;
    width: 7%;
    height: 33px;
    background: #faf0e6;
    border-left: 2px solid #9cc218;
    transform: translateX(-1px);
    border-radius: 0 3px 3px 0;
    color: #9cc218;
    text-align: center;
    cursor: pointer;
  }
  .video_search_block .video_search_button .fa-search {
    padding-top: 4.5px;
    font-size: 24px;
  }
  .video_search_block .vids_search_result {
    display: none;
    position: absolute;
    width: 100%;
    min-height: 35px;
    border: 2px solid #9cc218;
    background: #ffffff;
  }
  .video_search_block .vids_search_result .vids_search_result_close {
    display: inline-block;
    position: absolute;
    font-size: 36px;
    font-weight: bold;
    right: -13px;
    top: -24px;
    cursor: pointer;
    transform: rotate(45deg);
    color: #eab629;
  }
  .video_search_block .vids_search_result .vids_search_result_box {
    display: inline-block;
    padding: 7px;
  }
  .video_search_block .vids_search_result .vids_search_result_box .search_item {
    padding: 5px;
    color: #282828;
  }
  .video_search_block .vids_search_result .vids_search_result_box .search_item a {
    color: #282828;
    text-decoration: none;
  }
  .video_search_block .vids_search_result .vids_search_result_box .search_item a:hover {
    text-decoration: underline;
  }
}
@media screen and (max-width: 1013px) and (min-width: 769px) {
  .all_tags {
    text-decoration: none !important;
    font-weight: bold;
    color: #9cc218 !important;
  }
  .all_tags:hover {
    text-decoration: underline;
  }
  .video_review_box {
    margin-top: 18px;
  }
  .video_popular_box,
  .video_new_box {
    display: inline-block;
    margin-bottom: 25px;
    padding: 5px;
  }
  .video_popular_box {
    box-shadow: 0 2px 4px #eab629;
  }
  .video_new_box {
    box-shadow: 0 2px 4px #22a4f5;
  }
  .video_popular_title,
  .video_new_title,
  .video_all_title {
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    color: #eab629;
    font-size: 28px;
    font-weight: bold;
  }
  .video_new_title {
    color: #22a4f5;
  }
  .video_all_title {
    color: #9cc218;
  }
  .video_item_promo {
    display: inline-block;
    position: relative;
    width: 42%;
    min-height: 365px;
    float: left;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
    margin: 5px 4%;
  }
  .video_item_promo .video_title {
    margin: 5px;
    display: inline-block;
    width: 100%;
    font-size: 18px;
    color: #505050;
    font-weight: bold;
    height: 46px;
  }
  .video_item_promo .panel_video {
    position: relative;
    display: inline-block;
    max-width: 100%;
    border: 3px solid #9cc218;
    border-radius: 15px;
    overflow: hidden;
  }
  .video_item_promo .panel_video img {
    max-width: 100%;
  }
  .video_item_promo .panel_video .video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 48px;
    color: #9cc218;
    z-index: 2;
  }
  .video_item_promo .video_tags {
    height: 60px;
    margin: 5px;
  }
  .video_item_promo .video_tags span {
    display: inline-block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    color: #2d2d2d;
  }
  .video_item_promo .video_tags .tags_item {
    display: inline-block;
    float: left;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
    color: #9cc218;
    line-height: 15px;
  }
  .video_item_promo .video_tags .tags_item:hover {
    text-decoration: underline;
  }
  .video_item_promo .video_tags .video_tags_unvis {
    display: none;
  }
  .video_item_promo .video_tags .video_tags_btn {
    float: left;
    margin-left: 5px;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #eab629;
    cursor: pointer;
  }
  .video_item_promo .video_tags .video_tags_btn:hover {
    text-decoration: underline;
  }
  .video_item_promo .video_tags_hidden {
    display: inline-block;
    width: calc(94%);
    position: absolute;
    padding: 5px ;
    min-height: 130px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
  }
  .video_item_promo .video_products {
    margin: 5px;
  }
  .video_item_promo .video_products span {
    display: inline-block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    color: #2d2d2d;
  }
  .video_item_promo .video_products a {
    display: inline-block;
    float: left;
    border-radius: 10px;
    overflow: hidden;
  }
  .video_item_promo .video_products a img {
    width: 61px;
    height: 50px;
  }
  .video_item_promo .video_products a:hover {
    box-shadow: 0px 2px 8px 0px #9cc218;
  }
  .video_item_promo .video_products .video_products_unvis {
    display: none;
  }
  .video_item_promo .video_products .video_products_btn {
    float: left;
    display: inline-block;
    border-radius: 10px;
    width: 61px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #9cc218;
    cursor: pointer;
  }
  .video_item_promo .video_products .all_video_products:hover {
    box-shadow: 0px 2px 8px 0px #9cc218;
  }
  .video_item_promo .video_products_hidden {
    display: inline-block;
    width: 94%;
    position: absolute;
    padding: 5px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
    z-index: 5;
  }
  .video_all_box {
    position: relative;
    display: inline-block;
    width: 27%;
    min-height: 315px;
    float: left;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
    margin: 5px 3%;
  }
  .video_all_box .video_title {
    margin: 5px;
    display: inline-block;
    width: 100%;
    font-size: 14px;
    color: #505050;
    font-weight: bold;
    height: 46px;
  }
  .video_all_box .panel_video {
    position: relative;
    display: inline-block;
    max-width: 100%;
    border: 2px solid #9cc218;
    border-radius: 15px;
    overflow: hidden;
  }
  .video_all_box .panel_video img {
    max-width: 100%;
  }
  .video_all_box .panel_video .video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 38px;
    color: #9cc218;
    z-index: 2;
  }
  .video_all_box .video_tags {
    display: inline-block;
    height: 60px;
    margin: 5px;
  }
  .video_all_box .video_tags span {
    display: inline-block;
    float: left;
    font-size: 11px;
    font-weight: bold;
    color: #2d2d2d;
  }
  .video_all_box .video_tags .tags_item {
    margin-left: 5px;
    display: inline-block;
    float: left;
    font-size: 11px;
    text-decoration: none;
    font-weight: bold;
    color: #9cc218;
  }
  .video_all_box .video_tags .tags_item:hover {
    text-decoration: underline;
  }
  .video_all_box .video_tags .video_tags_unvis {
    display: none;
  }
  .video_all_box .video_tags .video_tags_btn {
    float: left;
    margin-left: 5px;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    color: #eab629;
    cursor: pointer;
  }
  .video_all_box .video_tags .video_tags_btn:hover {
    text-decoration: underline;
  }
  .video_all_box .video_tags_hidden {
    display: inline-block;
    width: calc(92%);
    position: absolute;
    padding: 5px ;
    min-height: 140px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
  }
  .video_all_box .video_products {
    margin: 5px;
  }
  .video_all_box .video_products span {
    display: inline-block;
    float: left;
    width: 100%;
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: bold;
    color: #2d2d2d;
  }
  .video_all_box .video_products a {
    display: inline-block;
    float: left;
    border-radius: 10px;
    overflow: hidden;
  }
  .video_all_box .video_products a img {
    width: 60px;
    height: 50px;
  }
  .video_all_box .video_products a:hover {
    box-shadow: 0px 2px 8px 0px #9cc218;
  }
  .video_all_box .video_products .video_products_unvis {
    display: none;
  }
  .video_all_box .video_products .video_products_btn {
    float: left;
    display: inline-block;
    border-radius: 10px;
    width: 60px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #9cc218;
    cursor: pointer;
  }
  .video_all_box .video_products .all_video_products:hover {
    box-shadow: 0px 2px 8px 0px #9cc218;
  }
  .video_all_box .video_products_hidden {
    display: inline-block;
    width: 94%;
    position: absolute;
    padding: 5px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
    z-index: 5;
  }
  .tag_cloud {
    display: block;
    width: 50%;
    float: right;
    text-align: center;
    margin-bottom: 15px;
  }
  .tag_cloud .tag_title {
    font-size: 24px;
    color: #9cc218 !important;
    text-decoration: underline;
    font-weight: bold;
  }
  .video_tag {
    display: inline-block;
    text-decoration: none !important;
    color: #9cc218 !important;
    font-weight: bold;
    padding: 1px 2px;
    margin: 1px;
  }
  .video_search_block {
    display: inline-block;
    width: 50%;
    position: relative;
    float: left;
    z-index: 3;
  }
  .video_search_block .search_vids_input {
    font-size: 18px;
    display: inline-block;
    border-radius: 3px;
    border: 2px solid #9cc218;
    padding: 5px 25px 5px 5px;
    width: 80%;
    margin-left: 10%;
    color: #282828;
  }
  .video_search_block .video_search_button {
    display: inline-block;
    position: absolute;
    left: 83%;
    top: 2px;
    width: 7%;
    height: 33px;
    background: #faf0e6;
    border-left: 2px solid #9cc218;
    transform: translateX(-1px);
    border-radius: 0 3px 3px 0;
    color: #9cc218;
    text-align: center;
    cursor: pointer;
  }
  .video_search_block .video_search_button .fa-search {
    padding-top: 4.5px;
    font-size: 24px;
  }
  .video_search_block .vids_search_result {
    display: none;
    position: absolute;
    width: 100%;
    min-height: 35px;
    border: 2px solid #9cc218;
    background: #ffffff;
  }
  .video_search_block .vids_search_result .vids_search_result_close {
    display: inline-block;
    position: absolute;
    font-size: 36px;
    font-weight: bold;
    right: -13px;
    top: -24px;
    cursor: pointer;
    transform: rotate(45deg);
    color: #eab629;
  }
  .video_search_block .vids_search_result .vids_search_result_box {
    display: inline-block;
    padding: 7px;
  }
  .video_search_block .vids_search_result .vids_search_result_box .search_item {
    padding: 5px;
    color: #282828;
  }
  .video_search_block .vids_search_result .vids_search_result_box .search_item a {
    color: #282828;
    text-decoration: none;
  }
  .video_search_block .vids_search_result .vids_search_result_box .search_item a:hover {
    text-decoration: underline;
  }
}
/* Экран 768*/
@media screen and (max-width: 768px) and (min-width: 425px) {
  .all_tags {
    font-size: 20px !important;
    text-decoration: none !important;
    font-weight: bold !important;
    color: #9cc218 !important;
  }
  .all_tags:hover {
    text-decoration: underline;
  }
  .video_popular_box,
  .video_new_box {
    display: inline-block;
    margin-bottom: 25px;
    padding: 5px;
  }
  .video_popular_box {
    box-shadow: 0 2px 4px #eab629;
  }
  .video_new_box {
    box-shadow: 0 2px 4px #22a4f5;
  }
  .video_popular_title,
  .video_new_title,
  .video_all_title {
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    color: #eab629;
    font-size: 20px;
    font-weight: bold;
  }
  .video_new_title {
    color: #22a4f5;
  }
  .video_all_title {
    color: #9cc218;
  }
  .video_item_promo {
    position: relative;
    display: inline-block;
    width: 46%;
    min-height: 380px;
    float: left;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
    margin: 5px 2%;
  }
  .video_item_promo .video_title {
    margin: 5px;
    display: inline-block;
    width: 100%;
    font-size: 14px;
    color: #505050;
    font-weight: bold;
    height: 50px;
  }
  .video_item_promo .panel_video {
    position: relative;
    display: inline-block;
    max-width: 100%;
    border: 2px solid #9cc218;
    border-radius: 15px;
    overflow: hidden;
  }
  .video_item_promo .panel_video img {
    max-width: 100%;
  }
  .video_item_promo .panel_video .video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 48px;
    color: #9cc218;
    z-index: 2;
  }
  .video_item_promo .video_tags {
    display: inline-block;
    height: 75px;
    margin: 5px;
  }
  .video_item_promo .video_tags span {
    display: inline-block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    color: #2d2d2d;
  }
  .video_item_promo .video_tags .tags_item {
    display: inline-block;
    float: left;
    margin-left: 4px;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    color: #9cc218;
  }
  .video_item_promo .video_tags .tags_item:hover {
    text-decoration: underline;
  }
  .video_item_promo .video_tags .video_tags_unvis {
    display: none;
  }
  .video_item_promo .video_tags .video_tags_btn {
    float: left;
    margin-left: 5px;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #eab629;
    cursor: pointer;
  }
  .video_item_promo .video_tags .video_tags_btn:hover {
    text-decoration: underline;
  }
  .video_item_promo .video_tags_hidden {
    display: inline-block;
    width: calc(94%);
    position: absolute;
    padding: 5px ;
    min-height: 135px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
  }
  .video_item_promo .video_products {
    display: inline-block;
    margin: 5px;
  }
  .video_item_promo .video_products span {
    display: inline-block;
    width: 100%;
    float: left;
    font-size: 12px;
    font-weight: bold;
    color: #2d2d2d;
  }
  .video_item_promo .video_products a {
    display: inline-block;
    float: left;
    border-radius: 10px;
    overflow: hidden;
  }
  .video_item_promo .video_products a img {
    display: inline-block;
    width: 60px;
    height: 50px;
  }
  .video_item_promo .video_products a:hover {
    box-shadow: 0px 2px 8px 0px #9cc218;
  }
  .video_item_promo .video_products .video_products_unvis {
    display: none;
  }
  .video_item_promo .video_products .video_products_btn {
    float: left;
    display: inline-block;
    border-radius: 10px;
    width: 61px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #9cc218;
    cursor: pointer;
  }
  .video_item_promo .video_products .all_video_products:hover {
    box-shadow: 0px 2px 8px 0px #9cc218;
  }
  .video_item_promo .video_products_hidden {
    display: inline-block;
    width: 94%;
    position: absolute;
    padding: 5px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
    z-index: 5;
  }
  .video_all_box {
    position: relative;
    display: inline-block;
    width: 31%;
    min-height: 293px;
    float: left;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
    margin: 2px 1%;
  }
  .video_all_box .video_title {
    margin: 2px;
    display: inline-block;
    width: 100%;
    font-size: 10px;
    color: #505050;
    font-weight: bold;
    height: 38px;
  }
  .video_all_box .panel_video {
    position: relative;
    display: inline-block;
    max-width: 100%;
    border: 2px solid #9cc218;
    border-radius: 15px;
    overflow: hidden;
  }
  .video_all_box .panel_video img {
    max-width: 100%;
  }
  .video_all_box .panel_video .video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 36px;
    color: #9cc218;
    z-index: 2;
  }
  .video_all_box .video_tags {
    display: block;
    line-height: 10px;
    height: 65px;
    margin: 2px;
    overflow: hidden;
  }
  .video_all_box .video_tags span {
    display: inline-block;
    float: left;
    font-size: 10px;
    font-weight: bold;
    color: #2d2d2d;
  }
  .video_all_box .video_tags .tags_item {
    display: inline;
    margin-left: 3px;
    font-size: 10px;
    line-height: 11px;
    text-decoration: none;
    font-weight: bold;
    color: #9cc218;
    word-break: break-all;
  }
  .video_all_box .video_tags .tags_item:hover {
    text-decoration: underline;
  }
  .video_all_box .video_tags .video_tags_unvis {
    display: none;
  }
  .video_all_box .video_tags .video_tags_btn {
    float: right;
    margin-left: 5px;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    color: #eab629;
    cursor: pointer;
  }
  .video_all_box .video_tags .video_tags_btn:hover {
    text-decoration: underline;
  }
  .video_all_box .video_tags_hidden {
    display: inline-block;
    width: calc(93%);
    position: absolute;
    padding: 5px ;
    min-height: 120px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
  }
  .video_all_box .video_products {
    display: inline-block;
    margin: 2px;
  }
  .video_all_box .video_products span {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 3px;
    font-size: 10px;
    font-weight: bold;
    color: #2d2d2d;
  }
  .video_all_box .video_products a {
    display: inline-block;
    float: left;
    border-radius: 10px;
    overflow: hidden;
  }
  .video_all_box .video_products a img {
    width: 45px;
    height: 37px;
  }
  .video_all_box .video_products a:hover {
    box-shadow: 0px 2px 8px 0px #9cc218;
  }
  .video_all_box .video_products .video_products_unvis {
    display: none;
  }
  .video_all_box .video_products .video_products_btn {
    float: left;
    display: inline-block;
    border-radius: 10px;
    width: 45px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #9cc218;
    cursor: pointer;
  }
  .video_all_box .video_products .all_video_products:hover {
    box-shadow: 0px 2px 8px 0px #9cc218;
  }
  .video_all_box .video_products_hidden {
    display: inline-block;
    width: 93%;
    position: absolute;
    padding: 5px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
    z-index: 5;
  }
  .tag_cloud {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  .tag_cloud .tag_title {
    font-size: 24px;
    color: #9cc218 !important;
    text-decoration: underline;
    font-weight: bold;
  }
  .video_tag {
    display: inline-block;
    text-decoration: none !important;
    color: #9cc218 !important;
    font-weight: bold;
    padding: 1px 2px;
    margin: 1px;
  }
  .video_search_block {
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: 3;
    margin-bottom: 15px;
  }
  .video_search_block .search_vids_input {
    font-size: 18px;
    display: inline-block;
    border-radius: 3px;
    border: 2px solid #9cc218;
    padding: 5px 25px 5px 5px;
    width: 80%;
    margin-left: 10%;
    color: #282828;
  }
  .video_search_block .video_search_button {
    display: inline-block;
    position: absolute;
    left: 83%;
    top: 2px;
    width: 7%;
    height: 33px;
    background: #faf0e6;
    border-left: 2px solid #9cc218;
    transform: translateX(-1px);
    border-radius: 0 3px 3px 0;
    color: #9cc218;
    text-align: center;
    cursor: pointer;
  }
  .video_search_block .video_search_button .fa-search {
    padding-top: 4.5px;
    font-size: 24px;
  }
  .video_search_block .vids_search_result {
    display: none;
    position: absolute;
    width: 100%;
    min-height: 35px;
    border: 2px solid #9cc218;
    background: #ffffff;
  }
  .video_search_block .vids_search_result .vids_search_result_close {
    display: inline-block;
    position: absolute;
    font-size: 36px;
    font-weight: bold;
    right: -13px;
    top: -24px;
    cursor: pointer;
    transform: rotate(45deg);
    color: #eab629;
  }
  .video_search_block .vids_search_result .vids_search_result_box {
    display: inline-block;
    padding: 7px;
  }
  .video_search_block .vids_search_result .vids_search_result_box .search_item {
    padding: 5px;
    color: #282828;
  }
  .video_search_block .vids_search_result .vids_search_result_box .search_item a {
    color: #282828;
    text-decoration: none;
  }
  .video_search_block .vids_search_result .vids_search_result_box .search_item a:hover {
    text-decoration: underline;
  }
}
/* Экран 425*/
@media screen and (max-width: 425px) {
  .all_tags {
    font-size: 20px;
    text-decoration: none !important;
    font-weight: bold;
    color: #9cc218 !important;
  }
  .video_review_box {
    margin-top: 12px;
  }
  .all_tags:hover {
    text-decoration: underline;
  }
  .video_popular_box,
  .video_new_box {
    display: inline-block;
    margin-bottom: 25px;
    padding: 5px;
  }
  .video_popular_box {
    box-shadow: 0 2px 4px #eab629;
  }
  .video_new_box {
    box-shadow: 0 2px 4px #22a4f5;
  }
  .video_popular_title,
  .video_new_title,
  .video_all_title {
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    color: #eab629;
    font-size: 20px;
    font-weight: bold;
  }
  .video_new_title {
    color: #22a4f5;
  }
  .video_all_title {
    color: #9cc218;
  }
  .video_item_promo {
    position: relative;
    min-height: 375px;
    display: inline-block;
    width: 96%;
    float: left;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
    margin: 5px 2%;
  }
  .video_item_promo .video_title {
    margin: 5px;
    display: inline-block;
    width: 100%;
    font-size: 14px;
    color: #505050;
    font-weight: bold;
    height: 36px;
  }
  .video_item_promo .panel_video {
    position: relative;
    display: inline-block;
    max-width: 100%;
    border: 2px solid #9cc218;
    border-radius: 15px;
    overflow: hidden;
  }
  .video_item_promo .panel_video img {
    max-width: 100%;
  }
  .video_item_promo .panel_video .video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 56px;
    color: #9cc218;
    z-index: 2;
  }
  .video_item_promo .video_tags {
    display: inline-block;
    height: 70px;
    margin: 5px;
  }
  .video_item_promo .video_tags span {
    display: inline-block;
    float: left;
    font-size: 10px;
    font-weight: bold;
    color: #2d2d2d;
  }
  .video_item_promo .video_tags .tags_item {
    display: inline-block;
    float: left;
    font-size: 10px;
    margin-left: 4px;
    text-decoration: none;
    font-weight: bold;
    color: #9cc218;
  }
  .video_item_promo .video_tags .tags_item:hover {
    text-decoration: underline;
  }
  .video_item_promo .video_tags .video_tags_unvis {
    display: none;
  }
  .video_item_promo .video_tags .video_tags_btn {
    float: left;
    margin-left: 5px;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #eab629;
    cursor: pointer;
  }
  .video_item_promo .video_tags .video_tags_btn:hover {
    text-decoration: underline;
  }
  .video_item_promo .video_tags_hidden {
    display: inline-block;
    width: 93%;
    position: absolute;
    padding: 5px ;
    min-height: 150px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
  }
  .video_item_promo .video_products {
    display: inline-block;
    margin: 5px;
  }
  .video_item_promo .video_products span {
    display: inline-block;
    float: left;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    color: #2d2d2d;
  }
  .video_item_promo .video_products a {
    display: inline-block;
    float: left;
    border-radius: 10px;
    overflow: hidden;
  }
  .video_item_promo .video_products a img {
    display: inline-block;
    width: 60px;
    height: 50px;
  }
  .video_item_promo .video_products a:hover {
    box-shadow: 0px 2px 8px 0px #9cc218;
  }
  .video_item_promo .video_products .video_products_unvis {
    display: none;
  }
  .video_item_promo .video_products .video_products_btn {
    float: left;
    display: inline-block;
    border-radius: 10px;
    width: 61px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #9cc218;
    cursor: pointer;
  }
  .video_item_promo .video_products .all_video_products:hover {
    box-shadow: 0px 2px 8px 0px #9cc218;
  }
  .video_item_promo .video_products_hidden {
    display: inline-block;
    width: 93%;
    position: absolute;
    padding: 5px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
    z-index: 5;
  }
  .video_all_box {
    position: relative;
    display: inline-block;
    width: 48%;
    min-height: 283px;
    float: left;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
    margin: 2px 1%;
  }
  .video_all_box .video_title {
    margin: 2px;
    display: inline-block;
    width: 100%;
    font-size: 10px;
    color: #505050;
    font-weight: bold;
    height: 38px;
  }
  .video_all_box .panel_video {
    position: relative;
    display: inline-block;
    max-width: 100%;
    border: 2px solid #9cc218;
    border-radius: 15px;
    overflow: hidden;
  }
  .video_all_box .panel_video img {
    max-width: 100%;
  }
  .video_all_box .panel_video .video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 36px;
    color: #9cc218;
    z-index: 2;
  }
  .video_all_box .video_tags {
    display: block;
    line-height: 10px;
    height: 63px;
    margin: 2px;
    overflow: hidden;
  }
  .video_all_box .video_tags span {
    font-size: 9px;
    font-weight: bold;
    color: #2d2d2d;
  }
  .video_all_box .video_tags .tags_item {
    font-size: 9px;
    line-height: 7px;
    text-decoration: none;
    font-weight: bold;
    color: #9cc218;
  }
  .video_all_box .video_tags .tags_item:hover {
    text-decoration: underline;
  }
  .video_all_box .video_tags .video_tags_unvis {
    display: none;
  }
  .video_all_box .video_tags .video_tags_btn {
    float: right;
    margin-left: 5px;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    color: #eab629;
    cursor: pointer;
  }
  .video_all_box .video_tags .video_tags_btn:hover {
    text-decoration: underline;
  }
  .video_all_box .video_tags_hidden {
    display: inline-block;
    width: calc(93%);
    position: absolute;
    padding: 5px ;
    min-height: 120px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
  }
  .video_all_box .video_products {
    display: inline-block;
    margin: 2px;
  }
  .video_all_box .video_products span {
    display: block;
    width: 100%;
    margin-bottom: 3px;
    font-size: 10px;
    font-weight: bold;
    color: #2d2d2d;
  }
  .video_all_box .video_products a {
    display: inline-block;
    float: left;
    border-radius: 10px;
    overflow: hidden;
  }
  .video_all_box .video_products a img {
    width: 45px;
    height: 37px;
  }
  .video_all_box .video_products a:hover {
    box-shadow: 0px 2px 8px 0px #9cc218;
  }
  .video_all_box .video_products .video_products_unvis {
    display: none;
  }
  .video_all_box .video_products .video_products_btn {
    float: left;
    display: inline-block;
    border-radius: 10px;
    width: 45px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #9cc218;
    cursor: pointer;
  }
  .video_all_box .video_products .all_video_products:hover {
    box-shadow: 0px 2px 8px 0px #9cc218;
  }
  .video_all_box .video_products_hidden {
    display: inline-block;
    width: 93%;
    position: absolute;
    padding: 5px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
    z-index: 5;
  }
  .tag_cloud {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  .tag_cloud .tag_title {
    font-size: 24px;
    color: #9cc218 !important;
    text-decoration: underline;
    font-weight: bold;
  }
  .video_tag {
    display: inline-block;
    text-decoration: none !important;
    color: #9cc218 !important;
    font-weight: bold;
    padding: 1px 2px;
    margin: 1px;
  }
  .video_search_block {
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: 3;
    margin-bottom: 15px;
  }
  .video_search_block .search_vids_input {
    font-size: 18px;
    display: inline-block;
    border-radius: 3px;
    border: 2px solid #9cc218;
    padding: 5px 25px 5px 5px;
    width: 96%;
    margin-left: 2%;
    color: #282828;
  }
  .video_search_block .video_search_button {
    display: inline-block;
    position: absolute;
    left: 88%;
    top: 2px;
    width: 10%;
    height: 33px;
    background: #faf0e6;
    border-left: 2px solid #9cc218;
    transform: translateX(-1px);
    border-radius: 0 3px 3px 0;
    color: #9cc218;
    text-align: center;
    cursor: pointer;
  }
  .video_search_block .video_search_button .fa-search {
    padding-top: 5.5px;
    font-size: 22px;
  }
  .video_search_block .vids_search_result {
    display: none;
    position: absolute;
    width: 100%;
    min-height: 35px;
    border: 2px solid #9cc218;
    background: #ffffff;
  }
  .video_search_block .vids_search_result .vids_search_result_close {
    display: inline-block;
    position: absolute;
    font-size: 36px;
    font-weight: bold;
    right: -13px;
    top: -24px;
    cursor: pointer;
    transform: rotate(45deg);
    color: #eab629;
  }
  .video_search_block .vids_search_result .vids_search_result_box {
    display: inline-block;
    padding: 7px;
  }
  .video_search_block .vids_search_result .vids_search_result_box .search_item {
    padding: 5px;
    color: #282828;
  }
  .video_search_block .vids_search_result .vids_search_result_box .search_item a {
    color: #282828;
    text-decoration: none;
  }
  .video_search_block .vids_search_result .vids_search_result_box .search_item a:hover {
    text-decoration: underline;
  }
}
/*# sourceMappingURL=style.css.map */