textarea {
  resize: vertical;
}
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: none;
  box-shadow: none;
}
button:active,
button:focus {
  outline: none !important;
}
button::-moz-focus-inner {
  border: 0 !important;
}
.captcha {
  position: absolute;
  right: 10px;
  bottom: 20px;
  padding: 5px 10px;
  border-radius: 10px;
  background: #9cc218;
}
.captcha .captcha-title {
  float: left;
  color: #ffffff;
  font-size: 14px;
  margin-right: 5px;
}
.captcha .captcha-range {
  float: left;
  width: 50px;
  -webkit-appearance: none;
  border-radius: 10px;
  background: #ff4e33;
  box-shadow: inset 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
  outline: none;
}
.captcha .captcha-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 18px;
  box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
  cursor: pointer;
  transition: .1s;
}
.form-elem,
.form-textarea {
  border: 1px solid #9cc218;
}
.form-alert {
  border: 1px solid #ff4e33;
}
.partnership-checkbox-imitate {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  top: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #82a115;
  box-shadow: inset 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
  cursor: pointer;
}
.partnership-checkbox-imitate .imitate-check {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ffffff;
}
label {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  color: rgba(40, 40, 40, 0.5);
}
label a {
  color: #ff4e33 !important;
}
.inactiveCheck {
  background: #82a115 !important;
}
@media screen and (min-width: 601px) {
  .partnership-wrap {
    display: inline-block;
    width: 50%;
  }
  .partnership-wrap h2 {
    color: #282828;
  }
  .partnership-btn {
    display: inline-block;
    padding: 10px 15px;
    background: #9cc218;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.4);
    border-radius: 10px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    margin: 5px 10px;
  }
  .partnership-btn:active {
    box-shadow: inset 0px 2px 8px 0px rgba(40, 40, 40, 0.4);
  }
  #partnershipModal .modal-header h2 {
    color: #9cc218;
    text-align: center;
  }
  #partnershipModal .modal-body {
    background: #d7e7a3;
  }
  #partnershipModal .modal-body .form-wrap {
    position: relative;
    margin-bottom: 5px;
  }
  #partnershipModal .modal-body .form-wrap .form-elem {
    width: 100%;
    padding: 10px 15px;
    padding-right: 300px;
    border-radius: 5px;
    box-shadow: inset 0px 2px 8px 0px rgba(40, 40, 40, 0.4);
  }
  #partnershipModal .modal-body .form-wrap .form-title {
    color: #282828;
    text-transform: uppercase;
    font-weight: bold;
    background: #ffffff;
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    padding: 10px;
    border: 1px solid #9cc218;
    border-radius: 0 5px 5px 0;
  }
  #partnershipModal .modal-body .form-textarea {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    box-shadow: inset 0px 2px 8px 0px rgba(40, 40, 40, 0.4);
    padding: 15px;
  }
  #partnershipModal .modal-body .wrap {
    text-align: center;
  }
  #partnershipModal .modal-body p {
    display: inline-block;
    padding: 10px 15px;
    background: #9cc218;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    box-shadow: inset 0px 2px 8px 0px #d7e7a3;
    border: 1px solid #9cc218;
    border-radius: 5px;
  }
  #partnershipModal .modal-footer {
    text-align: center;
  }
}
@media screen and (min-width: 325px) and (max-width: 600px) {
  .partnership-wrap {
    display: inline-block;
    width: 50%;
  }
  .partnership-wrap h2 {
    color: #282828;
  }
  .partnership-btn {
    display: inline-block;
    padding: 10px 15px;
    background: #9cc218;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.4);
    border-radius: 10px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    margin: 5px 10px;
  }
  .partnership-btn:active {
    box-shadow: inset 0px 2px 8px 0px rgba(40, 40, 40, 0.4);
  }
  #partnershipModal .modal-header h2 {
    color: #9cc218;
    text-align: center;
  }
  #partnershipModal .modal-body {
    background: #d7e7a3;
  }
  #partnershipModal .modal-body .form-wrap {
    position: relative;
    margin-bottom: 5px;
  }
  #partnershipModal .modal-body .form-wrap .form-elem {
    width: 100%;
    padding: 10px 15px;
    padding-right: 150px;
    border-radius: 5px;
    box-shadow: inset 0px 2px 8px 0px rgba(40, 40, 40, 0.4);
  }
  #partnershipModal .modal-body .form-wrap .form-title {
    color: #282828;
    text-transform: uppercase;
    font-weight: bold;
    background: #ffffff;
    position: absolute;
    right: 0;
    top: 0;
    width: 150px;
    padding: 10px;
    border: 1px solid #9cc218;
    border-radius: 0 5px 5px 0;
  }
  #partnershipModal .modal-body .form-textarea {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    box-shadow: inset 0px 2px 8px 0px rgba(40, 40, 40, 0.4);
    padding: 15px;
  }
  #partnershipModal .modal-body .wrap {
    text-align: center;
  }
  #partnershipModal .modal-body p {
    display: inline-block;
    padding: 10px 15px;
    background: #9cc218;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    box-shadow: inset 0px 2px 8px 0px #d7e7a3;
    border: 1px solid #9cc218;
    border-radius: 5px;
  }
  #partnershipModal .modal-footer {
    text-align: left;
  }
}
@media screen and (max-width: 324px) {
  .partnership-wrap {
    display: inline-block;
    width: 100%;
  }
  .partnership-wrap h2 {
    color: #282828;
  }
  .partnership-btn {
    display: inline-block;
    padding: 10px 15px;
    background: #9cc218;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.4);
    border-radius: 10px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    margin: 5px 10px;
  }
  .partnership-btn:active {
    box-shadow: inset 0px 2px 8px 0px rgba(40, 40, 40, 0.4);
  }
  #partnershipModal .modal-header h2 {
    color: #9cc218;
    text-align: center;
  }
  #partnershipModal .modal-body {
    background: #d7e7a3;
  }
  #partnershipModal .modal-body .form-wrap {
    position: relative;
    margin-bottom: 5px;
  }
  #partnershipModal .modal-body .form-wrap .form-elem {
    width: 100%;
    padding: 10px 15px;
    padding-right: 110px;
    border-radius: 5px;
    box-shadow: inset 0px 2px 8px 0px rgba(40, 40, 40, 0.4);
  }
  #partnershipModal .modal-body .form-wrap .form-title {
    color: #282828;
    text-transform: uppercase;
    font-weight: bold;
    background: #ffffff;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 10px;
    width: 110px;
    padding: 11px;
    border: 1px solid #9cc218;
    border-radius: 0 5px 5px 0;
  }
  #partnershipModal .modal-body .form-textarea {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    box-shadow: inset 0px 2px 8px 0px rgba(40, 40, 40, 0.4);
    padding: 15px;
  }
  #partnershipModal .modal-body .wrap {
    text-align: center;
  }
  #partnershipModal .modal-body p {
    display: inline-block;
    padding: 10px 15px;
    background: #9cc218;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    box-shadow: inset 0px 2px 8px 0px #d7e7a3;
    border: 1px solid #9cc218;
    border-radius: 5px;
  }
  #partnershipModal .modal-footer {
    padding-bottom: 70px;
    text-align: left;
  }
}
