#workarea {
  display: inline-block;
  width: 100%;
}
.clr {
  clear: both;
  margin-bottom: 15px;
}
#region_banner {
  width: 100%;
}
#region_banner .slider_filter_img {
  overflow: hidden;
}
#region_banner .slider_filter_img img {
  max-width: 100%;
}
.region_attention_block {
  background: #ffffff;
}
@media screen and (min-width: 1254px) {
  .region_banner_block {
    display: block;
    width: 100%;
  }
  #region_banner_one_shop {
    width: 86%;
    margin-left: 7%;
  }
  #region_banner_one_shop .panel_img {
    width: 100%;
    text-align: center;
  }
  #region_banner_one_shop .panel_img img {
    border: 3px solid #9cc218;
    border-radius: 15px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 380px;
  }
  #region_banner_one_shop .owl-prev {
    position: absolute;
    top: 50%;
    left: -35px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url("/owl-carousel/prev_contact.png");
    width: 35px;
    height: 100px;
  }
  #region_banner_one_shop .owl-next {
    position: absolute;
    top: 50%;
    right: -35px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url("/owl-carousel/next_contact.png");
    width: 35px;
    height: 100px;
  }
  .region_banner_box_left {
    display: inline-block;
    width: 49%;
    float: left;
  }
  .region_banner_box_right {
    display: inline-block;
    width: 49%;
    float: right;
  }
  .region_banner_title {
    display: inline-block;
    padding: 25px;
    border-radius: 15px;
    background: #eab629;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 15px;
  }
  .region_top_title {
    color: #9cc218;
    font-size: 24px;
    font-weight: bold;
    padding: 25px;
  }
  .region_block_text {
    padding: 15px 25px;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    background: #9cc218;
    color: #ffffff;
    border-radius: 15px;
    margin-bottom: 15px;
  }
  .get_sms_box {
    display: inline-block;
    width: 200px;
  }
  .get_address_sms {
    display: inline-block;
    width: 200px;
    font-size: 18px;
    background: #ffffff;
    border: 2px solid #9cc218;
    color: #9cc218;
    padding: 30px 20px;
    border-radius: 15px;
    cursor: pointer;
  }
  .get_address_sms:hover {
    background: #9cc218;
    color: #ffffff;
  }
  .region_attention_block {
    display: inline-block;
    width: 365px;
    float: right;
  }
  .region_attention_box {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 19px 20px;
    font-size: 18px;
    border: 2px solid #ff6347;
    color: #ff6347;
    border-radius: 15px;
  }
  .region_attention_box .chatM24_box {
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: -3px;
    right: 1px;
  }
  .region_info_box b {
    text-align: center;
    font-size: 16px;
    display: block;
    color: #282828;
    padding: 5px;
  }
  .region_info_box span {
    font-size: 24px;
    font-weight: bold;
    font-kerning: normal;
    padding: 5px;
    display: block;
    color: #9cc218;
  }
  .region_address_box,
  .region_phone_box {
    display: inline-block;
    float: left;
  }
  .region_address_box {
    width: 200px;
  }
  .region_phone_box {
    margin-left: 15px;
    width: 365px;
  }
  .region_worktime_box {
    text-align: center;
    margin-top: 25px;
    display: inline-block;
    width: 100%;
  }
  .region_banner_map {
    width: 100%;
    float: right;
  }
  .region_banner_map #map {
    overflow: hidden;
    border: 3px solid #9cc218;
    border-radius: 15px;
    width: 100%;
    height: 380px;
  }
  .banners_img img {
    border: 3px solid #9cc218;
    border-radius: 15px;
  }
  .panel-heading {
    position: relative;
    padding: 3px!important;
  }
  .panel-title {
    display: inline-block;
    width: 100px;
  }
  .panel-title img {
    padding: 5px;
    float: left;
    max-height: 55px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .panel-title .brans_title {
    float: left;
    padding: 5px;
    color: #282828;
    font-size: 18px;
    font-weight: bold;
  }
  .panel-title .brand_info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    display: inline-block;
    float: right;
    text-decoration: none!important;
    padding: 5px 10px;
    background: #9cc218;
    color: #ffffff !important;
    font-weight: bold;
    border-radius: 10px;
    text-transform: uppercase;
  }
  .panel-title .brand_info_active {
    background: #575b71;
  }
}
@media screen and (min-width: 1014px) and (max-width: 1253px) {
  .region_banner_block {
    display: block;
    width: 100%;
  }
  #region_banner_one_shop {
    width: 86%;
    margin-left: 7%;
  }
  #region_banner_one_shop .panel_img {
    width: 100%;
    text-align: center;
  }
  #region_banner_one_shop .panel_img img {
    border: 3px solid #9cc218;
    border-radius: 15px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 340px;
  }
  #region_banner_one_shop .owl-prev {
    position: absolute;
    top: 50%;
    left: -35px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url("/owl-carousel/prev_contact.png");
    width: 35px;
    height: 100px;
  }
  #region_banner_one_shop .owl-next {
    position: absolute;
    top: 50%;
    right: -35px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url("/owl-carousel/next_contact.png");
    width: 35px;
    height: 100px;
  }
  .region_banner_box_left {
    display: inline-block;
    width: 49%;
    float: left;
  }
  .region_banner_box_right {
    display: inline-block;
    width: 49%;
    float: right;
  }
  .region_banner_title {
    display: inline-block;
    padding: 15px;
    border-radius: 15px;
    background: #eab629;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 15px;
  }
  .region_top_title {
    color: #9cc218;
    font-size: 22px;
    font-weight: bold;
    padding: 25px;
  }
  .region_block_text {
    padding: 15px 15px;
    display: inline-block;
    width: 100%;
    font-size: 14px;
    background: #9cc218;
    color: #ffffff;
    border-radius: 15px;
    margin-bottom: 15px;
  }
  .get_sms_box {
    display: inline-block;
    width: 28%;
  }
  .get_address_sms {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    background: #ffffff;
    border: 2px solid #9cc218;
    color: #9cc218;
    padding: 15px 15px;
    border-radius: 15px;
    cursor: pointer;
  }
  .get_address_sms:hover {
    background: #9cc218;
    color: #ffffff;
  }
  .region_attention_block {
    display: inline-block;
    width: 68%;
    float: right;
  }
  .region_attention_box {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 26px 20px;
    font-size: 18px;
    border: 2px solid #ff6347;
    color: #ff6347;
    border-radius: 15px;
  }
  .region_attention_box .chatM24_box {
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: -3px;
    right: 1px;
  }
  .region_info_box b {
    text-align: center;
    font-size: 16px;
    display: block;
    color: #282828;
    padding: 5px;
  }
  .region_info_box span {
    font-size: 24px;
    font-weight: bold;
    font-kerning: normal;
    padding: 5px;
    display: block;
    color: #9cc218;
  }
  .region_info_box .region_address_title {
    width: 120%;
    text-align: left!important;
  }
  .region_address_box,
  .region_phone_box {
    display: inline-block;
    float: left;
  }
  .region_address_box {
    width: 28%;
  }
  .region_phone_box {
    margin-left: 15px;
    width: 68%;
  }
  .region_info_box .region_attention_block {
    width: 100%;
  }
  .region_worktime_box {
    text-align: center;
    margin-top: 25px;
    display: inline-block;
    width: 100%;
  }
  .region_banner_map {
    width: 100%;
    float: right;
  }
  .region_banner_map #map {
    overflow: hidden;
    border: 3px solid #9cc218;
    border-radius: 15px;
    width: 100%;
    height: 380px;
  }
  .banners_img {
    width: 100%;
  }
  .banners_img img {
    max-width: 100%;
    border: 3px solid #9cc218;
    border-radius: 15px;
  }
  .panel-heading {
    position: relative;
  }
  .panel-title {
    display: inline-block;
    width: 100px;
  }
  .panel-title img {
    padding: 5px;
    float: left;
    max-height: 55px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .panel-title .brans_title {
    float: left;
    padding: 5px;
    color: #282828;
    font-size: 18px;
    font-weight: bold;
  }
  .panel-title .brand_info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    display: inline-block;
    float: right;
    text-decoration: none!important;
    padding: 5px 10px;
    background: #9cc218;
    color: #ffffff !important;
    font-weight: bold;
    border-radius: 10px;
    text-transform: uppercase;
  }
  .panel-title .brand_info_active {
    background: #575b71;
  }
  .chatM24_box {
    width: 120%!important;
  }
}
/*экран 1014*/
@media screen and (min-width: 791px) and (max-width: 1014px) {
  .region_banner_block {
    display: block;
    width: 100%;
  }
  #region_banner_one_shop {
    width: 86%;
    margin-left: 7%;
    margin-top: 15px;
  }
  #region_banner_one_shop .panel_img {
    width: 100%;
    text-align: center;
  }
  #region_banner_one_shop .panel_img img {
    border: 3px solid #9cc218;
    border-radius: 15px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 340px;
  }
  #region_banner_one_shop .owl-prev {
    position: absolute;
    top: 50%;
    left: -35px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url("/owl-carousel/prev_contact.png");
    width: 35px;
    height: 100px;
  }
  #region_banner_one_shop .owl-next {
    position: absolute;
    top: 50%;
    right: -35px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url("/owl-carousel/next_contact.png");
    width: 35px;
    height: 100px;
  }
  .region_banner_box_left {
    display: inline-block;
    width: 100%;
    float: right;
  }
  .region_banner_box_right {
    display: block;
    width: 100%;
    float: left;
  }
  .region_banner_title {
    display: inline-block;
    width: 59%;
    float: left;
    padding: 15px;
    border-radius: 15px;
    background: #eab629;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 10px;
    margin-right: 2%;
  }
  .region_top_title {
    display: inline-block;
    color: #9cc218;
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    padding: 25px;
  }
  .region_block_text {
    padding: 10px 10px;
    display: inline-block;
    width: 39%;
    font-size: 13px;
    background: #9cc218;
    color: #ffffff;
    border-radius: 15px;
    margin-bottom: 10px;
  }
  .get_sms_box {
    display: inline-block;
    width: 28%;
    float: left;
  }
  .get_address_sms {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    background: #ffffff;
    border: 2px solid #9cc218;
    color: #9cc218;
    padding: 25px 15px;
    border-radius: 15px;
    cursor: pointer;
  }
  .get_address_sms:hover {
    background: #9cc218;
    color: #ffffff;
  }
  .region_attention_block {
    display: inline-block;
    width: 68%;
    float: right;
  }
  .region_attention_box {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 25px 20px;
    font-size: 18px;
    border: 2px solid #ff6347;
    color: #ff6347;
    border-radius: 15px;
  }
  .region_attention_box .chatM24_box {
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: -3px;
    right: 1px;
  }
  .region_info_box b {
    text-align: center;
    font-size: 16px;
    display: block;
    color: #282828;
    padding: 5px;
  }
  .region_info_box span {
    font-size: 24px;
    font-weight: bold;
    font-kerning: normal;
    padding: 5px;
    display: block;
    color: #9cc218;
  }
  .region_info_box .region_address_title {
    width: 120%;
    text-align: left!important;
  }
  .region_address_box,
  .region_phone_box {
    display: inline-block;
    float: left;
  }
  .region_address_box {
    width: 28%;
  }
  .region_phone_box {
    margin-left: 15px;
    width: 68%;
  }
  .region_info_box .region_attention_block {
    width: 100%;
  }
  .region_worktime_box {
    text-align: center;
    margin-top: 25px;
    display: inline-block;
    width: 100%;
  }
  .region_banner_map {
    width: 100%;
    float: right;
  }
  .region_banner_map #map {
    overflow: hidden;
    border: 3px solid #9cc218;
    border-radius: 15px;
    width: 100%;
    height: 380px;
  }
  .banners_img {
    width: 100%;
  }
  .banners_img img {
    max-width: 100%;
    border: 3px solid #9cc218;
    border-radius: 15px;
  }
  .left {
    float: left;
    width: 44%;
  }
  .right {
    float: right;
    width: 54%;
  }
  .panel-heading {
    position: relative;
    padding: 4px!important;
  }
  .panel-title {
    display: inline-block;
    width: 100px;
  }
  .panel-title img {
    padding: 5px;
    float: left;
    max-height: 55px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .panel-title .brans_title {
    float: left;
    color: #282828;
    font-size: 18px;
    font-weight: bold;
  }
  .panel-title .brand_info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    display: inline-block;
    float: right;
    text-decoration: none!important;
    padding: 5px 10px;
    background: #9cc218;
    color: #ffffff !important;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
    text-transform: uppercase;
  }
  .panel-title .brand_info_active {
    background: #575b71;
  }
}
@media screen and (min-width: 426px) and (max-width: 790px) {
  #region_banner {
    width: 96%;
    margin-left: 2%;
  }
  .region_banner_block {
    display: block;
    width: 100%;
  }
  #region_banner_one_shop {
    width: 86%;
    margin-left: 7%;
    margin-top: 15px;
  }
  #region_banner_one_shop .panel_img {
    width: 100%;
    text-align: center;
  }
  #region_banner_one_shop .panel_img img {
    border: 3px solid #9cc218;
    border-radius: 15px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 340px;
  }
  #region_banner_one_shop .owl-prev {
    position: absolute;
    top: 50%;
    left: -35px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url("/owl-carousel/prev_contact.png");
    width: 35px;
    height: 100px;
  }
  #region_banner_one_shop .owl-next {
    position: absolute;
    top: 50%;
    right: -35px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url("/owl-carousel/next_contact.png");
    width: 35px;
    height: 100px;
  }
  .region_banner_box_left {
    display: inline-block;
    width: 100%;
    float: right;
  }
  .region_banner_box_right {
    display: block;
    width: 100%;
    float: left;
  }
  .region_banner_title {
    display: inline-block;
    width: 100%;
    float: left;
    padding: 15px;
    border-radius: 15px;
    background: #eab629;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 10px;
    margin-right: 2%;
  }
  .region_top_title {
    display: inline-block;
    color: #9cc218;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
  }
  .region_block_text {
    display: none;
  }
  .get_sms_box {
    display: inline-block;
    width: 28%;
    float: left;
  }
  .get_address_sms {
    display: inline-block;
    width: 100%;
    font-size: 12px;
    background: #ffffff;
    border: 2px solid #9cc218;
    color: #9cc218;
    padding: 10px 10px;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
  }
  .get_address_sms:hover {
    background: #9cc218;
    color: #ffffff;
  }
  .region_attention_block {
    display: inline-block;
    width: 68%;
    float: right;
  }
  .region_attention_box {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 10px 10px;
    font-size: 12px;
    border: 2px solid #ff6347;
    color: #ff6347;
    border-radius: 15px;
  }
  .region_attention_box .chatM24_box {
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: -3px;
    right: 1px;
  }
  .region_info_box b {
    text-align: center;
    font-size: 14px;
    display: block;
    color: #282828;
    padding: 5px;
  }
  .region_info_box span {
    font-size: 20px;
    font-weight: bold;
    font-kerning: normal;
    padding: 5px;
    display: block;
    color: #9cc218;
  }
  .region_info_box .region_address_title {
    width: 120%;
    text-align: left!important;
  }
  .region_address_box,
  .region_phone_box {
    display: inline-block;
    float: left;
  }
  .region_address_box {
    width: 28%;
  }
  .region_phone_box {
    margin-left: 15px;
    width: 68%;
  }
  .region_info_box .region_attention_block {
    width: 100%;
  }
  .region_worktime_box {
    text-align: center;
    margin-top: 25px;
    display: inline-block;
    width: 100%;
  }
  .region_banner_map {
    width: 100%;
    float: right;
  }
  .region_banner_map #map {
    overflow: hidden;
    border: 3px solid #9cc218;
    border-radius: 15px;
    width: 100%;
    height: 380px;
  }
  .banners_img {
    display: none;
  }
  .banners_img img {
    max-width: 100%;
    border: 3px solid #9cc218;
    border-radius: 15px;
  }
  .panel-group .panel-body {
    padding: 7px;
  }
  .panel-heading {
    position: relative;
    padding: 4px!important;
  }
  .panel-title {
    display: inline-block;
    width: 100px;
  }
  .panel-title img {
    padding: 5px;
    float: left;
    max-height: 55px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .panel-title .brans_title {
    float: left;
    color: #282828;
    font-size: 18px;
    font-weight: bold;
  }
  .panel-title .brand_info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    display: inline-block;
    float: right;
    text-decoration: none!important;
    padding: 5px 10px;
    background: #9cc218;
    color: #ffffff !important;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
    text-transform: uppercase;
  }
  .panel-title .brand_info_active {
    background: #575b71;
  }
  .chatM24_box {
    width: 120%!important;
  }
}
/* Экран 425*/
@media screen and (max-width: 425px) {
  #region_banner {
    width: 86%;
    margin-left: 7%;
    margin-top: 15px;
    text-align: center;
  }
  #region_banner img {
    width: 100%;
  }
  .region_banner_block {
    display: block;
    width: 100%;
  }
  #region_banner_one_shop {
    width: 86%;
    margin-left: 7%;
    margin-top: 15px;
  }
  #region_banner_one_shop .panel_img {
    width: 100%;
    text-align: center;
  }
  #region_banner_one_shop .panel_img img {
    border: 3px solid #9cc218;
    border-radius: 15px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
  }
  #region_banner_one_shop .owl-prev {
    position: absolute;
    top: 50%;
    left: -35px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url("/owl-carousel/prev_contact.png");
    width: 35px;
    height: 100px;
  }
  #region_banner_one_shop .owl-next {
    position: absolute;
    top: 50%;
    right: -35px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url("/owl-carousel/next_contact.png");
    width: 35px;
    height: 100px;
  }
  .region_banner_box_left {
    display: inline-block;
    width: 100%;
    float: right;
  }
  .region_banner_box_right {
    display: block;
    width: 100%;
    float: left;
  }
  .region_banner_title {
    display: inline-block;
    width: 100%;
    float: left;
    padding: 15px;
    border-radius: 15px;
    background: #eab629;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 10px;
    margin-right: 2%;
  }
  .region_top_title {
    display: inline-block;
    color: #9cc218;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
  }
  .region_block_text {
    display: none;
  }
  .get_sms_box {
    display: inline-block;
    width: 28%;
    float: left;
  }
  .get_address_sms {
    display: inline-block;
    width: 100%;
    font-size: 12px;
    background: #ffffff;
    border: 2px solid #9cc218;
    color: #9cc218;
    padding: 10px 10px;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
  }
  .get_address_sms:hover {
    background: #9cc218;
    color: #ffffff;
  }
  .region_attention_block {
    display: inline-block;
    width: 68%;
    float: right;
  }
  .region_attention_box {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 10px 10px;
    font-size: 12px;
    border: 2px solid #ff6347;
    color: #ff6347;
    border-radius: 15px;
  }
  .region_attention_box .chatM24_box {
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: -3px;
    right: 1px;
  }
  .region_info_box b {
    text-align: center;
    font-size: 14px;
    display: block;
    color: #282828;
    padding: 5px;
  }
  .region_info_box span {
    font-size: 20px;
    font-weight: bold;
    font-kerning: normal;
    padding: 5px;
    display: block;
    color: #9cc218;
  }
  .region_info_box .region_address_title {
    width: 170%;
    text-align: left!important;
  }
  .region_address_box,
  .region_phone_box {
    display: inline-block;
    float: left;
  }
  .region_address_box {
    width: 28%;
  }
  .region_phone_box {
    margin-left: 4%;
    width: 68%;
  }
  .region_info_box .region_attention_block {
    width: 100%;
  }
  .region_worktime_box {
    text-align: center;
    margin-top: 25px;
    display: inline-block;
    width: 100%;
  }
  .region_banner_map {
    width: 100%;
    float: right;
  }
  .region_banner_map #map {
    overflow: hidden;
    border: 3px solid #9cc218;
    border-radius: 15px;
    width: 100%;
    height: 250px;
  }
  .banners_img {
    display: none;
  }
  .banners_img img {
    max-width: 100%;
    border: 3px solid #9cc218;
    border-radius: 15px;
  }
  .panel-group .panel-body {
    padding: 7px;
  }
  .panel-heading {
    position: relative;
    padding: 4px!important;
  }
  .panel-title {
    display: inline-block;
  }
  .panel-title img {
    padding: 5px;
    float: left;
    max-width: 65px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .panel-title .brans_title {
    float: left;
    color: #282828;
    font-size: 18px;
    font-weight: bold;
  }
  .panel-title .brand_info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    display: inline-block;
    float: right;
    text-decoration: none!important;
    padding: 5px 10px;
    background: #9cc218;
    color: #ffffff !important;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
    text-transform: uppercase;
  }
  .panel-title .brand_info_active {
    background: #575b71;
  }
}
/*# sourceMappingURL=style.css.map */