@media screen and (min-width: 1020px) {
  .section_video_banner {
    position: relative;
    width: 610px;
    height: 302px;
    margin: 3px;
    float: left;
    margin-bottom: 10px;
    overflow: hidden;
    border: 1px solid #bbb;
    border-radius: 10px;
    color: #666;
  }
  .section_video_banner:hover {
    border: 1px solid #9cc218;
    -webkit-box-shadow: 0px 0px 15px #9cc218;
    -moz-box-shadow: 0px 0px 15px #9cc218;
    box-shadow: 0px 0px 15px #9cc218;
  }
  .section_video_banner .banner_pic {
    display: inline-block;
    width: 100%;
  }
  .section_video_banner .video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(/images/you_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    width: 68px;
    max-width: 15%;
    height: 53px;
    z-index: 2;
  }
}
/*экран 768-1234*/
@media screen and (min-width: 768px) and (max-width: 1021px) {
  .section_video_banner {
    position: relative;
    width: 504px;
    height: 250px;
    margin: 3px;
    float: left;
    margin-bottom: 10px;
    overflow: hidden;
    border: 1px solid #bbb;
    border-radius: 10px;
    color: #666;
  }
  .section_video_banner:hover {
    border: 1px solid #9cc218;
    -webkit-box-shadow: 0px 0px 15px #9cc218;
    -moz-box-shadow: 0px 0px 15px #9cc218;
    box-shadow: 0px 0px 15px #9cc218;
  }
  .section_video_banner .banner_pic {
    display: inline-block;
    width: 100%;
  }
  .section_video_banner .video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(/images/you_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    width: 68px;
    max-width: 15%;
    height: 53px;
    z-index: 2;
  }
}
/*экран 768*/
@media screen and (min-width: 426px) and (max-width: 768px) {
  .section_video_banner {
    position: relative;
    width: 408px;
    height: 222px;
    margin: 3px;
    float: left;
    margin-bottom: 10px;
    overflow: hidden;
    border: 1px solid #bbb;
    border-radius: 10px;
    color: #666;
  }
  .section_video_banner:hover {
    border: 1px solid #9cc218;
    -webkit-box-shadow: 0px 0px 15px #9cc218;
    -moz-box-shadow: 0px 0px 15px #9cc218;
    box-shadow: 0px 0px 15px #9cc218;
  }
  .section_video_banner .banner_pic {
    display: inline-block;
    width: 100%;
  }
  .section_video_banner .video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(/images/you_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    width: 68px;
    max-width: 15%;
    height: 53px;
    z-index: 2;
  }
}
/* Экран 425*/
@media screen and (max-width: 425px) {
  .section_video_banner {
    position: relative;
    width: 96%;
    margin: 1%;
    float: left;
    margin-bottom: 10px;
    overflow: hidden;
    border: 1px solid #bbb;
    border-radius: 10px;
    color: #666;
  }
  .section_video_banner:hover {
    border: 1px solid #9cc218;
    -webkit-box-shadow: 0px 0px 15px #9cc218;
    -moz-box-shadow: 0px 0px 15px #9cc218;
    box-shadow: 0px 0px 15px #9cc218;
  }
  .section_video_banner .banner_pic {
    display: inline-block;
    width: 100%;
  }
  .section_video_banner .video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(/images/you_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    width: 68px;
    max-width: 15%;
    height: 53px;
    z-index: 2;
  }
}
/*# sourceMappingURL=style.css.map */