/***BREADCRUMBS***/
#breadcrumb ul li a,
#breadcrumb ul li span {
  color: #1a1a1a;
  font-size: 16px;
  line-height: 1.2;
}
#breadcrumb ul li.separator span {
  color: #1a1a1a;
}
#breadcrumb ul li a:hover span {
  text-decoration: underline;
}
#breadcrumb a {
  text-decoration: none;
}
h1 {
  font-size: 24px;
  color: #2c2c2c !important;
}
@media screen and (min-width: 1254px) {
  #menuVertical,
  #tab_group_small {
    display: none;
  }
  .chatM24Menu,
  .geoip_block,
  .search_block {
    display: none;
  }
  .menu_block {
    width: 100%;
    min-height: 200px;
    background-color: #ebebeb;
  }
  .menu_block .pic_row {
    display: block;
    width: 1234px;
    margin: auto;
    height: 50px;
    background: #9cc218;
    padding-top: 5px;
    z-index: 3;
  }
  .menu_block .pic_row .pic_wrapper {
    display: block;
    margin: auto;
    width: 740px;
  }
  .menu_block .pic_row .pic_item {
    position: relative;
    display: inline-block;
    float: left;
    width: 185px;
    color: #464646;
  }
  .menu_block .pic_row .pic_item .pic_img {
    float: left;
  }
  .menu_block .pic_row .pic_item .pic_text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 110px;
    margin-left: 5px;
    float: left;
  }
  .menu_block .pic_row .green_title {
    color: #eaff00 !important;
  }
  .menu_block .link_row {
    display: inline-block;
    width: 100%;
    height: 40px;
    background: #ffffff;
    position: relative;
    border-radius: 0 0 10px 10px;
    box-shadow: 0.209px 3.995px 4px 0px rgba(34, 34, 34, 0.49);
  }
  .menu_block .link_row .link_wrapper {
    display: block;
    margin: auto;
    width: 1034px;
    padding-top: 10px;
  }
  .menu_block .link_row .link_item {
    display: inline-block;
    /* расположить пункты горизонтально */
    text-decoration: none;
    color: #9cc218;
    width: 147px;
    float: left;
    text-align: center;
  }
  .menu_block .link_row .link_item:hover {
    color: #464646;
  }
  .menu_block .module_row {
    display: inline-block;
    width: 100%;
    height: 140px;
    background: transparent;
    position: relative;
  }
  .menu_block .module_row .logo_block {
    display: inline-block;
    width: 290px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: left;
  }
  .menu_block .module_row .logo_block .logo_img {
    width: 100%;
  }
  .menu_block .module_row .search_block {
    float: left;
    display: inline-block;
    width: 700px;
  }
  .menu_block .module_row .search_block #altop_search {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .menu_block .module_row .contact_block {
    display: inline-block;
    width: 200px;
    padding: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: left;
  }
  .menu_block .module_row .contact_block .m24_telephone {
    display: inline-block;
    width: 100%;
    font-weight: 800;
    font-size: 20px;
  }
  .menu_block .module_row .contact_block .m24_shedule {
    display: inline-block;
    width: 100%;
    font-weight: 400;
    font-size: 13px;
  }
  .menu_block .module_row .geoip_block {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 15px;
  }
  .menu_block .module_row .geoip_block #form_location {
    text-align: left;
  }
  .menu_block .menu_wrapper {
    position: relative;
  }
  .menu_block .menu_button_panel {
    display: inline-block;
    width: 100%;
    box-shadow: 0.209px 10px 10px 0px rgba(34, 34, 34, 0.49);
    height: 58px;
    z-index: 2;
    border-radius: 10px;
    background: #ffffff;
  }
  .menu_block .menu_button_panel .menu_btn {
    display: block;
    width: 112px;
    float: left;
    text-align: center;
    text-decoration: none;
    position: relative;
    top: -10px;
    color: #232323;
    font-size: 11px;
    height: 68px;
    border: 1px solid transparent;
    border-left: 1px solid #ebebeb;
    border-top: 10px solid transparent;
    border-radius: 5px 5px 0 0;
    z-index: 100;
  }
  .menu_block .menu_button_panel .menu_btn span {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    display: inline-block;
    padding: 0 7px;
  }
  .menu_block .menu_button_panel .menu_btn.active_link {
    border-top: 10px solid #464646;
    border-left: 1px solid #bdbdbd !important;
    border-right: 1px solid #bdbdbd;
    border-bottom: 1px solid white;
    color: black;
    font-weight: 600;
    display: block;
    background: #ffffff;
  }
  .menu_block .menu_box {
    position: absolute;
    top: 58px;
    width: 1234px;
    margin: auto;
    max-width: 100%;
    height: 317px;
    display: none;
    font-size: 11px;
    background: white;
    z-index: 99;
    border-top: 1px solid #bdbdbd;
    border-radius: 0 0 25px 25px;
  }
  .menu_block .menu_box .links_panel {
    display: block;
    padding-top: 10px;
    padding-left: 10px;
    width: auto;
    max-width: 165px;
    text-align: left;
    word-wrap: break-word;
    float: left;
  }
  .menu_block .menu_box .links_panel .link_elem {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    padding: 5px 0px;
    color: #464646;
  }
  .menu_block .menu_box .links_panel .link_elem:hover {
    color: #9cc218;
  }
  .menu_block .menu_box .links_panel .link_elem .brands_img {
    width: 69px;
  }
  .menu_block .menu_box .links_panel .links_block_title {
    width: 100%;
    color: #464646;
    font-size: 12px;
    font-weight: 600;
    padding: 25px 0px;
  }
  .menu_block .menu_box .main_panel {
    position: relative;
    left: -1px;
    bottom: -1px;
    min-height: 100%;
    background-color: #f9ffe3;
    display: inline-block;
    padding-bottom: 0px !important;
    width: 165px;
    border-left: 3px solid #9cc218;
    border-bottom: 3px solid #9cc218;
    border-radius: 0 0 0 25px;
    text-align: center;
    padding-right: 10px;
  }
  .menu_block .menu_box .main_panel .link_elem {
    width: 100%;
    color: #fb8800;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 25px 0px;
  }
  .menu_block .menu_box .banners_link {
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 297px;
    min-height: 100%;
    overflow: hidden;
  }
  .menu_block .menu_box .banners_link .link_img {
    border-radius: 0 0 25px 0;
    overflow: hidden;
    width: 297px;
    max-width: 100%;
    height: 317px;
    max-height: 100%;
    background-position: right bottom;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .menu_block .covid_block {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5px;
    display: inline-block;
    color: #9cc218;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    padding: 6px 10px;
    background: repeating-linear-gradient(to top, #48556c 0%, #1b212b 40%, #141922 60%, #353b45 100%);
    /*Standard*/
    border-radius: 5px;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
  }
}
@media screen and (min-width: 1014px) and (max-width: 1253px) {
  #menuVertical,
  #tab_group_small {
    display: none;
  }
  .chatM24Menu,
  .geoip_block,
  .search_block {
    display: none;
  }
  .menu_block {
    width: 100%;
    min-height: 200px;
    background-color: #ebebeb;
  }
  .menu_block .pic_row {
    display: block;
    width: 994px;
    margin: auto;
    height: 50px;
    background: #9cc218;
    padding-top: 5px;
    z-index: 3;
  }
  .menu_block .pic_row .pic_wrapper {
    display: block;
    margin: auto;
    width: 740px;
  }
  .menu_block .pic_row .pic_item {
    position: relative;
    display: inline-block;
    float: left;
    width: 185px;
    color: #464646;
  }
  .menu_block .pic_row .pic_item .pic_img {
    float: left;
  }
  .menu_block .pic_row .pic_item .pic_text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 110px;
    margin-left: 5px;
    float: left;
  }
  .menu_block .pic_row .green_title {
    color: #eaff00 !important;
  }
  .menu_block .link_row {
    display: inline-block;
    width: 100%;
    height: 40px;
    background: #ffffff;
    position: relative;
    border-radius: 0 0 10px 10px;
    box-shadow: 0.209px 3.995px 4px 0px rgba(34, 34, 34, 0.49);
  }
  .menu_block .link_row .link_wrapper {
    display: block;
    margin: auto;
    width: 994px;
    padding-top: 10px;
  }
  .menu_block .link_row .link_item {
    display: inline-block;
    /* расположить пункты горизонтально */
    text-decoration: none;
    color: #9cc218;
    width: 14%;
    float: left;
    text-align: center;
  }
  .menu_block .link_row .link_item:hover {
    color: #464646;
  }
  .menu_block .module_row {
    display: inline-block;
    width: 100%;
    height: 140px;
    background: transparent;
    position: relative;
  }
  .menu_block .module_row .logo_block {
    display: inline-block;
    width: 220px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: left;
  }
  .menu_block .module_row .logo_block .logo_img {
    width: 100%;
  }
  .menu_block .module_row .search_block {
    float: left;
    display: inline-block;
    width: 550px;
  }
  .menu_block .module_row .search_block #altop_search {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .menu_block .module_row .contact_block {
    display: inline-block;
    width: 210px;
    padding: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: left;
  }
  .menu_block .module_row .contact_block .m24_telephone {
    display: inline-block;
    width: 100%;
    font-weight: 800;
    font-size: 20px;
  }
  .menu_block .module_row .contact_block .m24_shedule {
    display: inline-block;
    width: 100%;
    font-weight: 400;
    font-size: 13px;
  }
  .menu_block .module_row .geoip_block {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 15px;
  }
  .menu_block .module_row .geoip_block #form_location {
    text-align: left;
  }
  .menu_block .menu_wrapper {
    position: relative;
  }
  .menu_block .menu_button_panel {
    display: inline-block;
    width: 100%;
    box-shadow: 0.209px 10px 10px 0px rgba(34, 34, 34, 0.49);
    height: 58px;
    z-index: 2;
    border-radius: 10px;
    background: #ffffff;
  }
  .menu_block .menu_button_panel .menu_btn {
    display: block;
    width: 9%;
    float: left;
    text-align: center;
    text-decoration: none;
    position: relative;
    top: -10px;
    color: #232323;
    font-size: 10px;
    height: 68px;
    border: 1px solid transparent;
    border-left: 1px solid #ebebeb;
    border-top: 10px solid transparent;
    border-radius: 5px 5px 0 0;
    z-index: 100;
  }
  .menu_block .menu_button_panel .menu_btn span {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    display: inline-block;
    padding: 0 7px;
  }
  .menu_block .menu_button_panel .menu_btn.active_link {
    border-top: 10px solid #464646;
    border-left: 1px solid #bdbdbd !important;
    border-right: 1px solid #bdbdbd;
    border-bottom: 1px solid white;
    color: black;
    font-weight: 600;
    display: block;
    background: #ffffff;
  }
  .menu_block .menu_box {
    position: absolute;
    top: 58px;
    width: 1234px;
    margin: auto;
    max-width: 100%;
    height: 317px;
    display: none;
    background: white;
    z-index: 99;
    border-top: 1px solid #bdbdbd;
    border-radius: 0 0 25px 25px;
  }
  .menu_block .menu_box .links_panel {
    display: block;
    padding-top: 10px;
    padding-left: 10px;
    width: auto;
    max-width: 110px;
    text-align: left;
    word-wrap: break-word;
    float: left;
  }
  .menu_block .menu_box .links_panel .link_elem {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    padding: 5px 0px;
    color: #464646;
    font-size: 10px;
  }
  .menu_block .menu_box .links_panel .link_elem:hover {
    color: #9cc218;
  }
  .menu_block .menu_box .links_panel .link_elem .brands_img {
    width: 69px;
  }
  .menu_block .menu_box .links_panel .links_block_title {
    width: 100%;
    color: #464646;
    font-size: 11px;
    font-weight: 600;
    padding: 25px 0px;
  }
  .menu_block .menu_box .main_panel {
    position: relative;
    left: -1px;
    bottom: -1px;
    min-height: 100%;
    background-color: #f9ffe3;
    display: inline-block;
    padding-bottom: 0px !important;
    width: 120px;
    border-left: 3px solid #9cc218;
    border-bottom: 3px solid #9cc218;
    border-radius: 0 0 0 25px;
    text-align: center;
    padding-right: 10px;
    font-size: 11px;
  }
  .menu_block .menu_box .main_panel .link_elem {
    width: 100%;
    color: #fb8800;
    font-size: 11px;
    font-weight: 600;
    text-align: center;
    padding: 25px 0px;
  }
  .menu_block .menu_box .banners_link {
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 297px;
    overflow: hidden;
  }
  .menu_block .menu_box .banners_link .link_img {
    border-radius: 0 0 25px 0;
    width: 297px;
    height: 317px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .menu_block .covid_block {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5px;
    display: inline-block;
    color: #9cc218;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    padding: 6px 10px;
    background: repeating-linear-gradient(to top, #48556c 0%, #1b212b 40%, #141922 60%, #353b45 100%);
    /*Standard*/
    border-radius: 5px;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
  }
}
/*экран 1014*/
@media screen and (min-width: 769px) and (max-width: 1014px) {
  #menuVertical,
  #tab_group_small {
    display: none;
  }
  .chatM24Menu,
  .geoip_block,
  .search_block {
    display: none;
  }
  .menu_block {
    width: 100%;
    min-height: 200px;
    background-color: #ebebeb;
  }
  .menu_block .pic_row {
    display: block;
    width: 768px;
    margin: auto;
    height: 40px;
    background: #9cc218;
    padding-top: 5px;
    z-index: 3;
  }
  .menu_block .pic_row .pic_wrapper {
    display: block;
    margin: auto;
    width: 600px;
  }
  .menu_block .pic_row .pic_item {
    position: relative;
    display: inline-block;
    float: left;
    width: 150px;
    color: #464646;
  }
  .menu_block .pic_row .pic_item .pic_img {
    float: left;
    width: 30px;
  }
  .menu_block .pic_row .pic_item .pic_text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 110px;
    margin-left: 5px;
    float: left;
    font-size: 11px;
  }
  .menu_block .pic_row .green_title {
    color: #eaff00 !important;
  }
  .menu_block .link_row {
    display: inline-block;
    width: 100%;
    height: 46px;
    background: #ffffff;
    position: relative;
    border-radius: 0 0 10px 10px;
    box-shadow: 0.209px 3.995px 4px 0px rgba(34, 34, 34, 0.49);
  }
  .menu_block .link_row .link_wrapper {
    display: block;
    margin: auto;
    width: 768px;
    padding-top: 22px;
  }
  .menu_block .link_row .link_item {
    display: inline-block;
    /* расположить пункты горизонтально */
    text-decoration: none;
    color: #9cc218;
    width: 14%;
    float: left;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .menu_block .link_row .link_item:hover {
    color: #464646;
  }
  .menu_block .module_row {
    display: inline-block;
    width: 100%;
    height: 120px;
    background: transparent;
    position: relative;
  }
  .menu_block .module_row .logo_block {
    display: inline-block;
    width: 180px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: left;
  }
  .menu_block .module_row .logo_block .logo_img {
    width: 100%;
  }
  .menu_block .module_row .search_block {
    float: left;
    display: inline-block;
    width: 385px;
  }
  .menu_block .module_row .search_block #altop_search {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .menu_block .module_row .contact_block {
    display: inline-block;
    width: 185px;
    padding: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: left;
  }
  .menu_block .module_row .contact_block .m24_telephone {
    display: inline-block;
    width: 100%;
    font-weight: 800;
    font-size: 16px;
  }
  .menu_block .module_row .contact_block .m24_shedule {
    display: inline-block;
    width: 100%;
    font-weight: 400;
    font-size: 12px;
  }
  .menu_block .module_row .geoip_block {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 6px;
  }
  .menu_block .module_row .geoip_block #form_location {
    text-align: left;
  }
  .menu_block .menu_wrapper {
    position: relative;
  }
  .menu_block .menu_button_panel {
    display: inline-block;
    width: 100%;
    box-shadow: 0.209px 10px 10px 0px rgba(34, 34, 34, 0.49);
    height: 58px;
    z-index: 2;
    border-radius: 10px;
    background: #ffffff;
  }
  .menu_block .menu_button_panel .menu_btn {
    display: block;
    width: 9%;
    float: left;
    text-align: center;
    text-decoration: none;
    position: relative;
    top: -10px;
    color: #232323;
    font-size: 10px;
    height: 68px;
    border: 1px solid transparent;
    border-left: 1px solid #ebebeb;
    border-top: 10px solid transparent;
    border-radius: 5px 5px 0 0;
    z-index: 100;
  }
  .menu_block .menu_button_panel .menu_btn span {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    display: inline-block;
    padding: 0 7px;
  }
  .menu_block .menu_button_panel .menu_btn.active_link {
    border-top: 10px solid #464646;
    border-left: 1px solid #bdbdbd !important;
    border-right: 1px solid #bdbdbd;
    border-bottom: 1px solid white;
    color: black;
    font-weight: 600;
    display: block;
    background: #ffffff;
  }
  .menu_block .menu_box {
    position: absolute;
    top: 58px;
    width: 1234px;
    margin: auto;
    max-width: 100%;
    height: 200px;
    display: none;
    background: white;
    z-index: 99;
    border-top: 1px solid #bdbdbd;
    border-radius: 0 0 25px 25px;
  }
  .menu_block .menu_box .links_panel {
    display: block;
    width: auto;
    max-width: 100px;
    text-align: left;
    word-wrap: break-word;
    float: left;
  }
  .menu_block .menu_box .links_panel .link_elem {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    padding: 5px 0px;
    color: #464646;
    font-size: 9px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .menu_block .menu_box .links_panel .link_elem:hover {
    color: #9cc218;
  }
  .menu_block .menu_box .links_panel .link_elem .brands_img {
    width: 69px;
  }
  .menu_block .menu_box .links_panel .links_block_title {
    width: 100%;
    color: #464646;
    font-size: 10px;
    font-weight: 600;
    padding: 20px 0px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .menu_block .menu_box .main_panel {
    position: relative;
    left: -1px;
    bottom: -1px;
    min-height: 100%;
    background-color: #f9ffe3;
    display: inline-block;
    padding-bottom: 0px !important;
    width: 100px;
    border-left: 3px solid #9cc218;
    border-bottom: 3px solid #9cc218;
    border-radius: 0 0 0 25px;
    text-align: center;
    padding-right: 10px;
    font-size: 10px;
  }
  .menu_block .menu_box .main_panel .link_elem {
    width: 100%;
    color: #fb8800;
    font-size: 11px;
    font-weight: 600;
    text-align: center;
    padding: 20px 0px;
  }
  .menu_block .menu_box .banners_link {
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 187px;
    overflow: hidden;
  }
  .menu_block .menu_box .banners_link .link_img {
    border-radius: 0 0 25px 0;
    width: 187px;
    height: 200px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .menu_block .covid_block {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5px;
    display: inline-block;
    color: #9cc218;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    padding: 6px 10px;
    background: repeating-linear-gradient(to top, #48556c 0%, #1b212b 40%, #141922 60%, #353b45 100%);
    /*Standard*/
    border-radius: 5px;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
  }
}
/*экран 768*/
@media screen and (min-width: 426px) and (max-width: 768px) {
  .menu_mobile {
    display: none;
    position: absolute;
    width: 50%;
    left: 0;
    z-index: 999;
    height: 1024px;
    background: #ffffff;
    box-shadow: 10px 0px 8px -3px rgba(34, 34, 34, 0.49);
  }
  .menu_mobile .btn_menu_mobile {
    position: relative;
    width: 100%;
    display: inline-block;
    background: #ffffff;
    padding: 8px 15px;
    color: #464646;
    font-size: 14px;
    border-bottom: 1px solid rgba(34, 34, 34, 0.49);
    cursor: pointer;
  }
  .menu_mobile .btn_menu_mobile .fa-angle-right {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    right: 15px;
  }
  .menu_mobile .btn_menu_mobile:hover {
    color: #9cc218;
    font-weight: bold;
  }
  .menu_mobile .btn_menu_mobile_end {
    display: block;
    background: rgba(34, 34, 34, 0.49);
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    text-decoration: none;
  }
  .menu_mobile .end_row_black {
    width: 100%;
    display: inline-block;
    background: #464646;
    height: 10px;
  }
  .menu_mobile_box {
    display: none;
    width: 50%;
    position: absolute;
    left: 50%;
    background: #ebebeb;
    height: 1024px;
    z-index: 999;
  }
  .menu_mobile_box .link_elem {
    display: inline-block;
    cursor: pointer;
    color: #333333;
    width: 100%;
    padding: 8px 40px;
    text-decoration: none;
    font-size: 14px;
    border-bottom: 1px solid #ffffff;
  }
  .menu_mobile_box .links_block_title {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    width: 100%;
    padding: 8px 40px;
    font-size: 14px;
    border-bottom: 1px solid #ffffff;
  }
  .menu_mobile_box .links_block_title .fa-caret {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
  }
  .menu_mobile_box .main_panel .links_block_title_main {
    font-weight: bold;
    color: #fd9501;
  }
  .menu_mobile_box .back_btn {
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-weight: bold;
    width: 100%;
    padding: 8px 40px;
    background: #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
  }
  .menu_mobile_box .menu_hide_box {
    display: none;
  }
  .menu_mobile_box .menu_hide_box .link_elem:before {
    display: inline-block;
    content: "-";
    font-size: 14px;
    margin-right: 10px;
  }
  .chatM24Menu,
  .geoip_block {
    display: none;
  }
  .menu_block {
    width: 100%;
    min-height: 130px;
    background-color: #ffffff;
  }
  .menu_block .pic_row {
    display: block;
    width: 100%;
    margin: auto;
    height: 40px;
    background: #9cc218;
    padding-top: 5px;
    z-index: 3;
  }
  .menu_block .pic_row .pic_wrapper {
    display: block;
    margin: auto;
    width: 96%;
    margin-left: 4%;
  }
  .menu_block .pic_row .pic_item {
    position: relative;
    display: inline-block;
    float: left;
    width: 25%;
    color: #464646;
  }
  .menu_block .pic_row .pic_item .pic_img {
    float: left;
    width: 30px;
  }
  .menu_block .pic_row .pic_item .pic_text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    margin-left: 5px;
    float: left;
    font-size: 11px;
  }
  .menu_block .pic_row .green_title {
    color: #eaff00 !important;
  }
  .menu_block .mobile_contact_block {
    display: inline-block;
    background-color: #ebebeb;
    width: 100%;
    padding: 7px;
    font-size: 14px !important;
    text-align: center;
    height: 35px;
    z-index: 605;
  }
  .menu_block .mobile_contact_block .fa-phone-square {
    display: inline-block;
    color: #9cc218;
    margin-left: 15px;
  }
  .menu_block .mobile_contact_block .phone_number {
    display: inline-block;
    color: #292929;
    margin-left: 15px;
    font-weight: bold;
    font-size: 16px !important;
  }
  .menu_block .mobile_contact_block .worktime {
    margin-left: 10px;
    display: inline-block;
    color: #292929;
  }
  .menu_block .icon_mobile_row {
    position: relative;
    width: 100%;
    background: #ffffff;
    top: 48px;
    height: 82px;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 5px 5px 0px rgba(34, 34, 34, 0.49);
  }
  .menu_block .icon_mobile_row .btn_menu_min {
    color: #464646;
    font-size: 36px;
    cursor: pointer;
  }
  .menu_block .icon_mobile_row .menu_show {
    margin-left: 30px;
    position: relative;
    float: left;
    top: 50%;
    transform: translateY(-50%);
  }
  .menu_block .icon_mobile_row .logo_block {
    width: 30%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .menu_block .icon_mobile_row .logo_block .logo_img {
    width: 100%;
  }
  .menu_block .icon_mobile_row .panel_btn {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    float: right;
    text-align: right;
    margin-right: 30px;
  }
  .menu_block .icon_mobile_row .panel_btn .btn_menu_min {
    margin-left: 30px;
  }
  .menu_block .search_mobile {
    position: absolute;
    top: 0px;
    display: none;
    width: 100%;
    margin: auto;
    height: 40px;
    background: #9cc218;
  }
  .menu_block .search_mobile #altop_search {
    width: 100%;
    margin-top: 5px !important;
  }
  .menu_block .search_mobile #altop_search input[type="text"] {
    margin-left: 15px;
    width: 85%;
    height: 28px !important;
  }
  .menu_block .search_mobile #altop_search .fa-search {
    left: 25px !important;
    top: 35% !important;
  }
  .menu_block .search_mobile #altop_search input[type="submit"] {
    right: 5px !important;
    cursor: pointer;
  }
  .menu_block .covid_block {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 90px;
    display: inline-block;
    color: #9cc218;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    padding: 6px 10px;
    background: repeating-linear-gradient(to top, #48556c 0%, #1b212b 40%, #141922 60%, #353b45 100%);
    /*Standard*/
    border-radius: 5px;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
  }
}
/* Экран 425*/
@media screen and (max-width: 425px) {
  .chatM24Menu,
  .geoip_block,
  .search_mobile {
    display: none;
  }
  .menu_block {
    width: 100%;
    min-height: 60px;
    background-color: #ffffff;
  }
  .menu_block .icon_mobile_row {
    position: relative;
    display: block;
    width: 100%;
    margin: auto;
    height: 50px;
    background: #9cc218;
    padding-top: 5px;
    z-index: 3;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 5px 5px 0px rgba(34, 34, 34, 0.49);
  }
  .menu_block .icon_mobile_row #altop_search {
    width: 100%;
    margin-top: 15px !important;
  }
  .menu_block .icon_mobile_row #altop_search input[type="text"] {
    margin-left: 15px;
    width: 85%;
    height: 28px !important;
  }
  .menu_block .icon_mobile_row #title-search-input {
    position: absolute !important;
    top: -7px !important;
    width: 80% !important;
    margin-left: 10% !important;
    margin-bottom: 5px !important;
    border: 1px solid #363636 !important;
    border-radius: 10px !important;
    padding-left: 5px !important;
    padding-right: 40px !important;
    background: #c0d86d !important;
    z-index: 200;
  }
  .menu_block .icon_mobile_row input[type=submit] {
    display: none;
  }
  .menu_block .icon_mobile_row .fa-search {
    position: relative;
    text-align: right !important;
    left: 82% !important;
    top: 8px !important;
    color: #363636 !important;
    z-index: 210;
  }
  .menu_block .mobile_contact_block {
    position: relative;
    display: inline-block;
    background-color: #ebebeb;
    width: 100%;
    padding: 7px;
    font-size: 14px !important;
    text-align: center;
    min-height: 35px;
    z-index: 605;
  }
  .menu_block .mobile_contact_block .fa-phone-square {
    display: inline-block;
    color: #9cc218;
    margin-left: 15px;
  }
  .menu_block .mobile_contact_block .phone_number {
    display: inline-block;
    color: #292929;
    margin-left: 15px;
    font-weight: bold;
    font-size: 16px !important;
  }
  .menu_block .mobile_contact_block .worktime {
    margin-left: 10px;
    display: inline-block;
    color: #292929;
  }
  .menu_block .module_row {
    position: relative;
    display: inline-block;
    height: 32px;
    width: 100%;
  }
  .menu_block .pic_row {
    position: relative;
    width: 100%;
    background: #ffffff;
    height: 61px;
  }
  .menu_block .pic_row .btn_menu_min {
    color: #464646;
    font-size: 28px;
    cursor: pointer;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .menu_block .pic_row .menu_show {
    margin-left: 20px;
    float: left;
  }
  .menu_block .pic_row .btn_menu_basket {
    margin-right: 20px;
    float: right;
  }
  .menu_block .pic_row .logo_block {
    width: 30%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .menu_block .pic_row .logo_block .logo_img {
    width: 100%;
  }
  .menu_block .covid_block {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 6px;
    color: #9cc218;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    padding: 4px 8px;
    background: repeating-linear-gradient(to top, #48556c 0%, #1b212b 40%, #141922 60%, #353b45 100%);
    /*Standard*/
    border-radius: 5px;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
  }
  /*блок 425 первый уровень меню*/
  .menu_mobile {
    display: none;
    position: absolute;
    width: 260px;
    left: 0;
    z-index: 999;
    background: #ffffff;
  }
  .menu_mobile .btn_menu_mobile {
    position: relative;
    width: 100%;
    display: inline-block;
    background: #ffffff;
    padding: 8px 15px;
    color: #464646;
    font-size: 14px;
    border-bottom: 1px solid rgba(34, 34, 34, 0.49);
    cursor: pointer;
  }
  .menu_mobile .btn_menu_mobile .fa-angle-right {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    right: 15px;
  }
  .menu_mobile .btn_menu_mobile:hover {
    color: #9cc218;
    font-weight: bold;
  }
  .menu_mobile .btn_menu_mobile_end {
    display: block;
    background: rgba(34, 34, 34, 0.49);
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    text-decoration: none;
  }
  .menu_mobile .end_row_black {
    width: 100%;
    display: inline-block;
    background: #464646;
    height: 10px;
  }
  .close_button {
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-weight: bold;
    width: 100%;
    padding: 8px 15px;
    background: #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
  }
  .menu_mobile_box {
    display: none;
    width: 260px;
    position: absolute;
    left: 0;
    top: 0;
    background: #ebebeb;
    height: 1024px;
    z-index: 999;
  }
  .menu_mobile_box .link_elem {
    display: inline-block;
    cursor: pointer;
    color: #333333;
    width: 100%;
    padding: 8px 15px;
    text-decoration: none;
    font-size: 14px;
    border-bottom: 1px solid #ffffff;
  }
  .menu_mobile_box .links_block_title {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    width: 100%;
    padding: 8px 15px;
    font-size: 14px;
    border-bottom: 1px solid #ffffff;
  }
  .menu_mobile_box .links_block_title .fa-caret {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
  }
  .menu_mobile_box .main_panel .links_block_title_main {
    font-weight: bold;
    color: #fd9501;
  }
  .menu_mobile_box .back_btn {
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-weight: bold;
    width: 100%;
    padding: 8px 15px;
    background: #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
  }
  .menu_mobile_box .menu_hide_box {
    display: none;
  }
  .menu_mobile_box .menu_hide_box .link_elem:before {
    display: inline-block;
    content: "-";
    font-size: 14px;
    margin-right: 10px;
  }
}
/*# sourceMappingURL=style.css.map */