#brands_owl {
  line-height: 100px;
}
#brands_owl .owlElement img {
  max-width: 140px;
}
#block-advantages .right-block a {
  text-decoration: none;
}
#block-advantages .right-block a:hover {
  color: #9cc218;
  text-decoration: underline;
}
@media screen and (min-width: 1234px) {
  #block-brands {
    width: 100%;
    text-align: center;
    position: relative;
  }
  #block-brands .brands-title {
    padding-top: 90px;
    font-size: 30px;
    color: #9098a6;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 30px;
  }
  .slaider_wrapper {
    display: inline-block;
    width: 100%;
    background-color: #eab629;
    position: relative;
  }
  .slaider_wrapper .btn_all_vendors {
    float: right;
    margin-top: 43px;
    margin-right: 55px;
    display: inline-block;
    color: #eab629;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    padding: 8px 14px;
    background: repeating-linear-gradient(to top, #48556c 0%, #1b212b 40%, #141922 60%, #353b45 100%);
    /*Standard*/
    border-radius: 5px;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
  }
  .slaider_wrapper .btn_all_vendors:hover {
    color: #9cc218;
  }
  #brands_owl {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 100px;
    float: left;
    width: 85%;
  }
  #brands_owl .owlElement img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 105px;
    vertical-align: middle;
  }
  #brands_owl .owl-prev {
    position: absolute;
    top: 50%;
    left: 15px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url("/bitrix/components/mainpage/brands/images/prev.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 13px;
    height: 32px;
  }
  #brands_owl .owl-next {
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url("/bitrix/components/mainpage/brands/images/next.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 13px;
    height: 32px;
  }
  #block-advantages {
    position: relative;
    width: 100%;
    box-shadow: 0px 14px 16px 0px rgba(0, 0, 0, 0.08);
    height: 600px;
    margin-top: 85px;
  }
  #block-advantages .advantages-title {
    margin-left: 70px;
    border-bottom: 2px solid #9cc218;
    font-size: 36px;
    color: #9cc218;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 260px;
    margin-bottom: 60px;
  }
  #block-advantages .advantages-title span {
    position: relative;
    top: 11px;
    left: -17px;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #9cc218;
    color: #ffffff;
    font-size: 72px;
    border-radius: 50%;
    line-height: 0.6em;
    padding-left: 3px;
    font-weight: 400;
  }
  #block-advantages .left-line {
    float: left;
    width: 175px;
    height: 300px;
  }
  #block-advantages .left-line .green-line {
    position: relative;
    top: 30px;
    right: 33px;
    height: 300px;
    border-right: 2px solid #9cc218;
  }
  #block-advantages .right-block {
    position: relative;
    float: left;
    width: 460px;
  }
  #block-advantages .right-block span {
    position: absolute;
    left: -50px;
    margin-top: 15px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #9cc218;
    color: #ffffff;
    font-size: 24px;
    border-radius: 50%;
    line-height: 1.7em;
    padding-left: 3px;
    font-weight: bold;
  }
  #block-advantages .right-block .main-title {
    font-size: 24px;
    color: #9cc218;
    font-weight: bold;
    line-height: 1.25;
    padding-left: 10px;
    padding-top: 10px;
  }
  #block-advantages .right-block .main-text {
    font-size: 12px;
    padding-left: 10px;
  }
  #block-advantages .oxxy-advantages-img {
    position: absolute;
    bottom: 0px;
    right: 100px;
  }
  #block-advantages .oxxy-advantages-img img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 100%;
  }
}
/*экран 768-1234*/
@media screen and (min-width: 768px) and (max-width: 1233px) {
  #block-brands {
    position: relative;
    width: 100%;
    text-align: center;
  }
  #block-brands .brands-title {
    padding-top: 90px;
    font-size: 22px;
    color: #9098a6;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 30px;
  }
  .slaider_wrapper {
    display: inline-block;
    width: 100%;
    background-color: #eab629;
    position: relative;
  }
  .slaider_wrapper .btn_all_vendors {
    float: right;
    margin-top: 47px;
    margin-right: 25px;
    display: inline-block;
    color: #eab629;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    padding: 5px 10px;
    background: repeating-linear-gradient(to top, #48556c 0%, #1b212b 40%, #141922 60%, #353b45 100%);
    /*Standard*/
    border-radius: 5px;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
  }
  .slaider_wrapper .btn_all_vendors:hover {
    color: #9cc218;
  }
  #brands_owl {
    float: left;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 100px;
  }
  #brands_owl .owlElement img {
    max-height: 105px;
    vertical-align: middle;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #brands_owl .owlElement .owl-prev {
    position: absolute;
    top: 50%;
    left: 10px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url("/bitrix/components/mainpage/brands/images/prev.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 13px;
    height: 32px;
  }
  #brands_owl .owlElement .owl-next {
    position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url("/bitrix/components/mainpage/brands/images/next.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 13px;
    height: 32px;
  }
  #block-advantages {
    position: relative;
    width: 100%;
    box-shadow: 0px 14px 16px 0px rgba(0, 0, 0, 0.08);
    height: 600px;
    margin-top: 55px;
  }
  #block-advantages .advantages-title {
    margin-left: 70px;
    border-bottom: 2px solid #9cc218;
    font-size: 28px;
    color: #9cc218;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 60px;
  }
  #block-advantages .advantages-title span {
    position: relative;
    top: 10px;
    left: -17px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #9cc218;
    color: #ffffff;
    font-size: 60px;
    border-radius: 50%;
    line-height: 0.6em;
    padding-left: 3px;
    font-weight: 400;
  }
  #block-advantages .left-line {
    float: left;
    width: 150px;
    height: 300px;
  }
  #block-advantages .left-line .green-line {
    position: relative;
    top: 30px;
    right: 33px;
    height: 300px;
    border-right: 2px solid #9cc218;
  }
  #block-advantages .right-block {
    position: relative;
    float: left;
    width: 460px;
  }
  #block-advantages .right-block span {
    position: absolute;
    left: -50px;
    margin-top: 15px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #9cc218;
    color: #ffffff;
    font-size: 24px;
    border-radius: 50%;
    line-height: 1.7em;
    padding-left: 3px;
    font-weight: bold;
  }
  #block-advantages .right-block .main-title {
    font-size: 24px;
    color: #9cc218;
    font-weight: bold;
    line-height: 1.25;
    padding-left: 10px;
    padding-top: 10px;
  }
  #block-advantages .right-block .main-text {
    font-size: 12px;
    padding-left: 10px;
  }
  #block-advantages .oxxy-advantages-img {
    position: absolute;
    bottom: 0px;
    right: 2%;
    width: 30%;
  }
  #block-advantages .oxxy-advantages-img img {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    width: 100%;
  }
}
/*экран 768*/
@media screen and (min-width: 620px) and (max-width: 768px) {
  #block-brands {
    position: relative;
    width: 100%;
    text-align: center;
  }
  #block-brands .brands-title {
    padding-top: 90px;
    font-size: 22px;
    color: #9098a6;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 30px;
  }
  .slaider_wrapper {
    display: inline-block;
    width: 100%;
    background-color: #eab629;
    position: relative;
  }
  .slaider_wrapper .btn_all_vendors {
    float: right;
    margin-top: 55px;
    margin-right: 25px;
    display: inline-block;
    color: #eab629;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    padding: 5px 8px;
    background: repeating-linear-gradient(to top, #48556c 0%, #1b212b 40%, #141922 60%, #353b45 100%);
    /*Standard*/
    border-radius: 5px;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
  }
  .slaider_wrapper .btn_all_vendors:hover {
    color: #9cc218;
  }
  #brands_owl {
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 100px;
    width: 80%;
  }
  #brands_owl .owlElement img {
    max-height: 105px;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #block-advantages {
    position: relative;
    width: 100%;
    box-shadow: 0px 14px 16px 0px rgba(0, 0, 0, 0.08);
    margin-top: 15px;
    min-height: 450px;
  }
  #block-advantages .advantages-title {
    margin-left: 70px;
    border-bottom: 2px solid #9cc218;
    font-size: 24px;
    color: #9cc218;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
  }
  #block-advantages .advantages-title span {
    position: relative;
    top: 10px;
    left: -17px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #9cc218;
    color: #ffffff;
    font-size: 60px;
    border-radius: 50%;
    line-height: 0.6em;
    padding-left: 3px;
    font-weight: 400;
  }
  #block-advantages .left-line {
    float: left;
    width: 15%;
    height: 300px;
  }
  #block-advantages .left-line .green-line {
    position: relative;
    top: 30px;
    right: 33px;
    height: 340px;
    border-right: 2px solid #9cc218;
  }
  #block-advantages .right-block {
    position: relative;
    float: left;
    width: 85%;
    margin-bottom: 25px;
  }
  #block-advantages .right-block span {
    position: absolute;
    left: -50px;
    margin-top: 15px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #9cc218;
    color: #ffffff;
    font-size: 24px;
    border-radius: 50%;
    line-height: 1.7em;
    padding-left: 3px;
    font-weight: bold;
  }
  #block-advantages .right-block .main-title {
    position: relative;
    z-index: 1;
    font-size: 24px;
    color: #9cc218;
    font-weight: bold;
    line-height: 1.25;
    padding-left: 10px;
    padding-top: 10px;
  }
  #block-advantages .right-block .main-text {
    position: relative;
    z-index: 1;
    font-size: 12px;
    padding-left: 10px;
    width: 55%;
  }
  #block-advantages .oxxy-advantages-img {
    position: absolute;
    bottom: 0px;
    right: 1%;
    width: 35%;
  }
  #block-advantages .oxxy-advantages-img img {
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    width: 100%;
  }
}
/* Экран 425*/
@media screen and (max-width: 619px) {
  #block-brands {
    position: relative;
    width: 100%;
    text-align: center;
  }
  #block-brands .brands-title {
    padding: 50px 10px 30px 10px;
    font-size: 22px;
    color: #9098a6;
    text-transform: uppercase;
    line-height: 1.2;
  }
  .slaider_wrapper {
    display: inline-block;
    width: 100%;
    background-color: #eab629;
    position: relative;
  }
  .slaider_wrapper .btn_all_vendors {
    position: absolute;
    bottom: -15px;
    right: 5px;
    margin-top: 55px;
    margin-right: 25px;
    display: inline-block;
    color: #eab629;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    padding: 5px 8px;
    background: repeating-linear-gradient(to top, #48556c 0%, #1b212b 40%, #141922 60%, #353b45 100%);
    /*Standard*/
    border-radius: 5px;
    box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
    z-index: 2;
  }
  .slaider_wrapper .btn_all_vendors:hover {
    color: #9cc218;
  }
  #brands_owl {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #eab629;
    line-height: 100px;
  }
  #brands_owl .owlElement img {
    max-height: 105px;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #block-advantages {
    position: relative;
    width: 100%;
    box-shadow: 0px 14px 16px 0px rgba(0, 0, 0, 0.08);
    margin-top: 15px;
    min-height: 350px;
  }
  #block-advantages .advantages-title {
    margin-left: 45px;
    border-bottom: 2px solid #9cc218;
    font-size: 18px;
    color: #9cc218;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
  }
  #block-advantages .advantages-title span {
    position: relative;
    top: 10px;
    left: -17px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #9cc218;
    color: #ffffff;
    font-size: 60px;
    border-radius: 50%;
    line-height: 0.6em;
    padding-left: 3px;
    font-weight: 400;
  }
  #block-advantages .left-line {
    float: left;
    width: 15%;
    height: 300px;
  }
  #block-advantages .left-line .green-line {
    position: relative;
    top: 30px;
    right: 33px;
    height: 280px;
    border-right: 2px solid #9cc218;
  }
  #block-advantages .right-block {
    position: relative;
    float: left;
    width: 85%;
    margin-bottom: 25px;
  }
  #block-advantages .right-block span {
    position: absolute;
    left: -13%;
    margin-top: 15px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #9cc218;
    color: #ffffff;
    font-size: 24px;
    border-radius: 50%;
    line-height: 1.7em;
    padding-left: 3px;
    font-weight: bold;
  }
  #block-advantages .right-block .main-title {
    position: relative;
    z-index: 1;
    font-size: 18px;
    color: #9cc218;
    font-weight: bold;
    line-height: 1.25;
    padding-left: 10px;
    padding-top: 10px;
  }
  #block-advantages .right-block .main-text {
    position: relative;
    z-index: 1;
    font-size: 10px;
    padding-left: 10px;
    width: 55%;
  }
  #block-advantages .oxxy-advantages-img {
    display: inline-block;
    position: absolute;
    bottom: 0px;
    right: 1%;
    width: 35%;
  }
  #block-advantages .oxxy-advantages-img img {
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */